<table class="table table-hover text-left table-responsive">
    <thead>
        <tr>
            <th>Archivos para ver o descargar en pfd</th>
        </tr>
    </thead>
    <tbody>
        {% for documento in pagination %}
            <tr>
                <td >
                    <a href="{{ path('ipa_documentos_ver', {'tipo':documento.tipo.slug,'id':documento.id,'slug': documento.slug}) }}" >
                        <strong style="font-size: 1.2em;">{{documento.titulo}}</strong><br/>
                        {{documento.descripcion}}
                    </a> 
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>        
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>                        
