
{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}
{% set mes = {"01":"enero", "02":"febrero", "03":"marzo", "04":"abril", "05":"mayo", "06":"junio", "07":"julio", "08":"agosto", "09":"septiembre", "10":"octubre", "11":"noviembre", "12":"diciembre"} %}

{% block bloque_titulo %}{% endblock %}
{% block bloque_description %}{% endblock %}
{% block bloque_keyworks %} {% endblock %}
{% block bloque_robots %}  {% endblock %}
{% block bloque_author %}  {% endblock %}

{% block bloque_ogtitle %}  {% endblock %}
{% block bloque_ogdescription %} {% endblock %}
{% block bloque_ogimage %}{% endblock %}
{% block bloque_ogsite_name %}{{proyecto.sitename}}{% endblock %}
{% block bloque_ogurl %} {% endblock %}

{% block bloque_contenido %} 
    <section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <table class="table table-hover text-left table-responsive">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Título</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for documento in pagination %}
                                <tr>
                                    <td>{{documento.tipo}}</td>
                                    <td>
                                        <a href="{{ path('ipa_documentos_ver', {'tipo':documento.tipo.slug,'id':documento.id,'slug': documento.slug}) }}" >
                                            {{documento.titulo}}
                                        </a> 
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>        
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>                        
                </div>
            </div>
        </div>
    </section>    

{% endblock %}
