{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}
{% set mes = {"01":"enero", "02":"febrero", "03":"marzo", "04":"abril", "05":"mayo", "06":"junio", "07":"julio", "08":"agosto", "09":"septiembre", "10":"octubre", "11":"noviembre", "12":"diciembre"} %}

{% block bloque_titulo %}{{ documento.titulo }}{% endblock %}
{% block bloque_description %}{{ documento.descripcion }}{% endblock %}
{% block bloque_keyworks %} {% endblock %}
{% block bloque_robots %}  {% endblock %}
{% block bloque_author %}  {% endblock %}

{% block bloque_ogtitle %} {{ documento.titulo }}{% endblock %}
{% block bloque_ogdescription %}{{ documento.descripcion }}{% endblock %}
{% block bloque_ogimage %}
{% endblock %}
{% block bloque_ogsite_name %}{{proyecto.sitename}}{% endblock %}
{% block bloque_ogurl %} {% endblock %}

{% block bloque_contenido %} 
    <section class="text-sm-left section-md-bottom-115">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="post-blog post-blog-mod-2">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="post-title">
                                    <h4>{{ documento.titulo }}</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ path('ipa_documentos_pdf', {'tipo':documento.tipo.slug,'id':documento.id,'slug': documento.slug}) }}" target="_blank" >
                                    <img src="{{ asset( proyecto.nombre ~ '/images/descarga-pdf.png') }}" style="width:150px !important; alignment-adjust: text-before-edge">
                                     
                                </a>                            
                            </div>
                        </div>
                        
                        {{ documento.contenido | raw }}
                    </div>
                                
                </div>
            </div>
        </div>
    </section>    

{% endblock %}
