<form action="{{path('saquito_paginas_contacto_procesar')}}" method="post" {{ form_enctype(form) }} class="rd-mailform text-left row">
    {{ form_errors(form) }}
    {{ form_row(form.nombre, {'attr':{'class': 'form-control'}}) }}
    {{ form_row(form.email, {'attr':{'class': 'form-control'}}) }}
    {{ form_row(form.telefono, {'label': 'Teléfono','attr':{'class': 'form-control'}}) }}
    {{ form_row(form.asunto, { 'attr':{'class': 'form-control'}}) }}
    {{ form_row(form.cuerpo, { 'label': 'Mensaje','attr': {'class': 'form-control'} }) }}
    {{ form_row(form.enviar, { 'attr': {'class': 'btn btn-transparent btn-sm btn-icon btn-icon-right offset-sm-top-35'}}) }}
    {{ form_rest(form) }}<br/>
</form>   
