
<strong>Consulta escrita por {{ contacto.nombre }} del día {{ "now"|date("d-m-Y H:i") }}.</strong><br><br>

<strong>Responder a: </strong>{{ contacto.email }}<br>
<strong>Telefono: </strong>{{ contacto.telefono }}<br>
<strong>Asunto: </strong>{{ contacto.asunto }}<br>
<strong>Mensaje:</strong><br>
{{ contacto.cuerpo }}