{% extends "APDSaquitoPaginasBundle:Templates:layout.html.twig" %}
{% block bloque_contenido %}

    <div class="container">
        <div class="row">
            <h2>Formulario de contacto del sitio web </h2>
            <br>

            {% if app.session.started %}
                <div>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <h5>{{ flashMessage }}</h5> 
                    {% endfor %}
                </div>
                <br>            <br/><br/><br/><br/>
            {% endif %}

        </div>
    </div>

{% endblock %}