{% extends "APDSaquitoMainBundle:Templates:layout.html.twig" %}

{% block bloque_contenido %}
    <div class="container">
        <img src="{{ asset(proyecto.nombre ~ '/images/error.jpg') }}">
    </div>

{% endblock %}

