<section>
    <div class="container">
        <div class="row">
            <form method="post" id="form_buscar" action="{{path('saquito_buscador_buscar')}}" >
                {% if criterio not is defined %}
                    {% set criterio = "" %}
                {% endif %}
                <input type="text" class="form-control" value="{{criterio}}" placeholder="Que estás buscando?" name="apd_cadena_busqueda" id="apd_cadena_busqueda" required>
                <button type="submit" >Buscar</button>
            </form>    
        </div>
    </div>
</section>
