{% extends "APDSaquitoPaginasBundle:Templates:layout.html.twig" %}


{% block bloque_contenido %}
    <main>
        <section>
            <div class="container">
                <div class="row">
                <h3 class="text-primary">Buscador</h3>
                <h3 class="normal">Podés encontrar toda la información de nuestra web</h3>

                {% include 'APDSaquitoMainBundle:Buscador:_formulario_de_busqueda.html.twig' with {'criterio': criterio}  %}

                {% if (pagination is not empty ) %}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    {% for item in pagination %}

                        <div class="busqueda-linea-resultado">
                            <div class="busqueda-linea-resultado-titulo">
                                <a href="{{ item.link }}" >
                                    {{item.titulo}}
                                </a>
                            </div>
                            <div class="busqueda-linea-resultado-detalles">
                                {{item.fecha|date('d/m/Y H:i')}} | {{item.descripcion | raw }}
                            </div>
                        </div>
                            <br/>----<br/>
                    {% endfor %}

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                {% endif %}
                </div>
            </div>
        </section>        
    </main>    

{% endblock %}

