{% if criterio is not defined %}
    {% set criterio = "" %}
{% endif %}

<section>
    <br/>
    <div class="container">
        <div class="row">
                <form method="post" id="form_buscar" action="" >
                    <div class="col-xs-12 col-md-10 col-lg-10 col-sm-9">
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{criterio}}" placeholder="Que estás buscando?" name="apd_cadena_busqueda" id="apd_cadena_busqueda" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-lg-2 col-sm-3 text-center">
                        <div class="form-group">
                            <button type="submit" onclick="funcionEnviar()" class="btn btn-transparent btn-sm btn-icon btn-icon-right">
                                <span>Buscar</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</section>

<script>
    function es_valido(str) {
        var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
        return true;
    }
    function funcionEnviar() {

        form = document.getElementById("form_buscar");
        criterio = document.getElementById("apd_cadena_busqueda");
        if (es_valido(criterio)) {
            form.action='/buscador/resultado/' + criterio.value ;
            form.submit();
        } else {

            alert("el criterio de busqueda que colocaste no es válido");
        }
    }
</script>
