{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_titulo %}{% endblock %}
{% block bloque_description %}{% endblock %}
{% block bloque_keyworks %} {% endblock %}
{% block bloque_robots %}  {% endblock %}
{% block bloque_author %}  {% endblock %}

{% block bloque_ogtitle %}  {% endblock %}
{% block bloque_ogdescription %} {% endblock %}
{% block bloque_ogimage %}{% endblock %}
{% block bloque_ogsite_name %}{{proyecto.sitename}}{% endblock %}
{% block bloque_ogurl %} {% endblock %}

{% block bloque_contenido %} 
    <section class="text-sm-left section-md-bottom-115">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-primary">Buscador</h3> 
                    {% include 'APDSaquitoMainBundle:Buscador:_formulario_de_busqueda.html.twig' with {'criterio': criterio}  %}<br/>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                        
                    </div>                        
                    <table class="table table-hover text-left table-responsive">
                        <thead>
                            <tr>
                                <th>{{pagination.getTotalItemCount}} Resultado(s) en la busqueda de <strong>'{{criterio}}'</strong> en nuestra base de datos.  </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>
                                        <h6><a href="{{ item.link }}" > {{item.titulo}} </a></h6> {{item.fecha|date('d/m/Y H:i')}} | {{item.descripcion | raw }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <h6>No encontramos información con el criterio que nos solicitaste</h6>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>        
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>                        
                </div>
            </div>
        </div>
    </section>    

{% endblock %}

