    <div class="row">
        <div class="col-md-12">
            <h3 class="text-primary">Nuevo usuario</h3>
            <h3 class="normal">Ingresá tus datos</h3>

        </div>
    </div>
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="formulario fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        
        <button type="submit" id="_submit" name="_submit" class="btn btn-md btn-primary"/>Enviar</button>
    </div>
</form>
