{% extends "APDSaquitoPaginasBundle:Plantillas:principal.html.twig" %}

{% block bloque_adicional %}
    <div class="row">
        {{ render(controller('APDSaquitoPaginasBundle:Contactos:armarFormulario'))}}
    </div> 
{% endblock %}
