{% extends "APDSaquitoPaginasBundle:Templates:layout.html.twig" %}
{% block bloque_titulo %}{{ parent() }} | {{pagina.titulo}}{% endblock %}
{% block bloque_description %}{{pagina.descripcion}}{% endblock %}
{% block bloque_keyworks %}{{pagina.keyworks}}{% endblock %}
{% block bloque_robots %}{{pagina.robots}}{% endblock %}
{% block bloque_author %}{{pagina.autor}}{% endblock %}

{% block bloque_ogtitle %}{{ parent() }} | {{pagina.titulo}}{% endblock %}
{% block bloque_ogdescription %}{{pagina.descripcion}}{% endblock %}
{% block bloque_ogimage %}{% endblock %}

{% block bloque_contenido %}

    <div class="container">
        <div class="row">
            <h1>{{pagina.titulo}}</h1>
        </div>

        {% for bloque in pagina.bloques %}
            {% if bloque.nombre == "bloque_contenido" %}
                {{ bloque.html | raw }}
            {% endif %}
        {% endfor %}

        {% block bloque_adicional %}
        {% endblock %}
    </div>

{% endblock %}

