<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Palanca de navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
        <a class="navbar-brand" href="{{ path('saquito_paginas_bienvenidos') }}" title="{{proyecto.titulo}}">
            {% include 'APDSaquitoMainBundle:Templates:_marca.html.twig' %}
        </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% include 'APDSaquitoMainBundle:Templates:_menu.html.twig' %}
        </div>
    </div>
</nav>