{% extends "APDSaquitoInitializrBundle::layout.html.twig" %}

{% block bloque_stylesheet %} 
    {{ parent() }}
    {% stylesheets
        '@APDSaquitoMainBundle/Resources/public/css/saquito_main.css'
    output = '/Saquito/css/paginas.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css"/>
    {% endstylesheets %}   
{% endblock %}

{% block bloque_body %} 

    {% include 'APDSaquitoMainBundle:Templates:_header.html.twig' %}
    
    {% block bloque_contenido %}
    {% endblock %}

    <footer class="bs-docs-footer" role="contentinfo">
        {% include 'APDSaquitoMainBundle:Templates:_footer.html.twig' %}
    </footer>
    
{% endblock %}


    
{% block bloque_javascript %} 
    {{ parent() }}

{% endblock %}