

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/css?family=Gafata);

body {
    padding-top: 0px;
    padding-bottom: 0px;
    
}

header #header-top {
    padding-bottom: 0px;
    padding-top: 0px;
}

header #header-bottom {
    background: #000;
    z-index: 999;
    transition-duration: 0.3s;
}

header #header-bottom.affix {
    box-shadow: 0px 0px 20px 0px rgba(46, 40, 64, 0.8);
    width: 100%;
    top: 0px;
    transition-duration: 0.3s;
}

header #header-bottom.affix-top .marca-affix {
    visibility: hidden;
}
header #header-bottom.affix .marca-affix {
    visibility: visible !important;
}

header #header-bottom.affix-top .nav li a {
    padding-left: 15px;
    padding-right: 15px;
}
header #header-bottom.affix .nav li a {
    padding-left: 8px;
    padding-right: 8px;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-inverse {
    background-image: none;
    
}

footer{
  color: #ffffff;
  background-color: #000;
  background-image: none;
  min-height: 120px;
}
/*.apd-class-publicidad img {
    width: 100%;
}*/

.carousel {
    /*box-shadow: 0px 0px 5px 0px rgba(46, 40, 64, 0.8);*/
}

.carousel-control.left {
    background-image: none;
}        
.carousel-control.right {
    background-image: none;
}       

@media (max-width: 979px) {
    body{
        padding-top: 0px;
    }
}

article {
/*    background: #DDD;
    min-height: 150px;
    text-align: center;*/
    margin-bottom: 5px;
}

.row {
    margin-bottom: 10px;
}

h1{
    
    text-align: center;
    font-size:2.7em;
    font-family: 'Gafata', sans-serif;
    margin-bottom: 1em;   
}

h4 {
    font-weight:normal;
}

.intro-pagina {
  padding: 3%;
  padding-left: 10%;
  text-align: justify;

  background-color: #fffcd5;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}


.apd-class-area-usuario{
    padding: 8%;
    font-family: 'Montserrat Alternates', sans-serif;
}
.apd-class-area-usuario .bienvenido-usuario{
    margin-top: 0.5em;
    font-size: 1.3em;
    margin-bottom: 0.2em;
    color:#000;
}
.apd-class-area-usuario .nombre-usuario{
    font-size: 1.8em;
    margin-bottom: 0.2em;
    color:white;
}
.apd-class-area-usuario .modificar-usuario {
    font-size: 0.8em;
    margin-bottom: 0.2em;
    color:#fff200;
}


/* banners portada */ 

.apd-class-banner-mapa {
    height: 250px;
    border-radius: 2%;
    background-color: #f15a22;
    background-image: -moz-linear-gradient(top, #f58220, #f15a22);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f58220), to(#f15a22));
    background-image: -webkit-linear-gradient(top, #f58220, #f15a22);
    background-image: -o-linear-gradient(top, #f58220, #f15a22);
    background-image: linear-gradient(to bottom, #f58220, #f15a22);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f58220', endColorstr='#f15a22', GradientType=0);
    vertical-align: left;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.3em;
    
}
p {
    text-align: justify;
}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

.class-personal {

    padding: 5px;
    
    vertical-align: middle;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    border-top: 1px solid #000;
    font-family: 'Gafata', sans-serif;    
    font-size: 1.5em;
}
.class-personal:hover {
    background-color: lightyellow;
    color: orangered;
}
.class-personal-nombre {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    font-size: 1em;
}
.class-personal-contacto {
    display: inline-block;   
    font-size: 0.8em;
    margin-left: 3em;
}

.class-personal-curriculum {
    vertical-align: top;
    float:right;
    height: 50px;
    width:40px;
    padding: 0.4em;
    background-image: url("http://localhost/bigornia/public_html/bundles/public_html/images/cv.png");
    background-repeat: no-repeat;
    cursor: pointer;
    
}
.class-personal-nombre strong {
    font-size: 0.7em;
}
.class-personal-foto {
     display: inline-block;   

}



 /*Bootstrap 3 no soporta submenus, lo resuelvo con ésto.-*/
 

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    width: 260px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    background-color: #EEE;
    border-radius: 6px;
}