@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,600);
@import url(http://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);

 
h1.titulo-pagina {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 2.1em;
    font-weight: 400;
    text-transform: uppercase;
}

a, input, select, textarea {
    outline:none !important;
    color:inherit;
}

body { 
    overflow-x:hidden;
    background: white;
    font-family: 'Muli', Verdana, sans-serif;
    font-size: 0.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  color:inherit;
  font-weight: normal;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.6em;
    padding-left: 0.5em;
    margin:2em 0 1em 0;
    text-transform:uppercase;
    border-bottom: 1px solid #9d9d9d;
}

h3 {
    font-size: 1.3em;
    font-family: 'Dosis', sans-serif;
    margin:1em 0 0.5em 0;
    text-transform:uppercase;
}

h4 {
    font-size: 1.4em;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    margin:1em 0 0.5em 0;
}

h5 {
    font-size: 1.2em;
    font-family: 'Muli', sans-serif;
    background:  url(bullet.png) no-repeat;
    padding-left: 10px;
    font-weight: 300;
    margin:1em 0 0.5em 0;
}
h6 {
    font-size: 1.0em;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-transform:uppercase;
    margin:1em 0 0.5em 1em;
}

.aclaracion {
    font-size:0.7em; 
}

.header {
	padding:36px 0 21px 0;
	background:#fff;
	border-top:10px RGB(49,39,130) solid;
}
.fleft {float:left;
}
.fright {float:right;
}
.clear {
	height:0;
	clear:both;
	font-size:0;
}
img {
	outline:0;
	vertical-align:top;
}
.logo {padding-bottom:6px;
}
.logo img {max-width:100%;
}

.follow_us {
	text-align:right;
	padding:3px 4px 9px 0;
}
.follow_us ul li {
	padding:0;
	margin:0 0 0 5px;
	display:inline-block;
	line-height:2em;
}
.follow_us a {
	background-image:url(top_socials.png);
	background-repeat:no-repeat;
	height:30px;
	width:30px;
	display:block;
	text-indent:-9999px;
	text-align:left;
}

.follow_us a.telefonos {background-position:0 0;
}

.follow_us a.telefonos:hover {background-position:0 -30px;
}

.follow_us a.facebook {background-position:-35px 0;
}

.follow_us a.facebook:hover {background-position:-35px -30px;
}

.follow_us a.contacto {background-position:-70px 0;
}

.follow_us a.contacto:hover {background-position:-70px -30px;
}

.follow_us a.buscador {background-position:-140px 0;
}

.follow_us a.buscador:hover {background-position:-140px -30px;
}

/*nav*/
#main_menu {
    position: relative;
    float:right;
}
.menu_wrap {
  padding-top: 10px;
  float:right;
}
.menu_wrap .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
  list-style: none;
}
.menu_wrap .nav > li {
  padding: 0 0 0 25px;
  display:inline-block;
}
.menu_wrap .nav > li:first-child {
}
#main_menu select {  /* Para menu desplegable */
	display: none;
	font-family:Arial;
	font-size:1em;
}
.menu_wrap .nav li a {
  line-height:1em;
  color: #313131;
  font-family: 'Dosis', sans-serif;
  font-size:1.5em;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  padding:0; 
  text-align:left;
}
.menu_wrap .nav > li.sfHover > a,
.menu_wrap .nav > li.sfHover > a:hover,
.menu_wrap .nav > li > a:hover,
.menu_wrap .nav > li.current > a,
.menu_wrap .nav > li.current > a:hover {
	color: #c5c5c5;
	background:none;
}
.sub-menu > a {position: relative;
}
.menu_wrap .nav > li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: none;
  width: 7px;
  height: 4px;
  right: 50%;
  top: 20px;
  margin: 0 -3px 0 0;
}
.menu_wrap .nav > li.sfHover > a:before,
.menu_wrap .nav > li.sfHover > a:hover:before,
.menu_wrap .nav > li > a:hover:before,
.menu_wrap .nav > li.current > a:before,
.menu_wrap .nav > li.current > a:hover:before { background: url('li-marker.png') left top no-repeat;
}
.menu_wrap .nav > li.current > a:before { background: none;
}
.menu_wrap .nav > li.current.sfHover > a:before { background: url('li-marker.png') left top no-repeat;
}
.menu_wrap .nav ul {
  position: absolute;
  top: 100%;
  left: -50px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 220px;
  padding: 5px 0;
  margin: 10px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.menu_wrap .nav > li li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: none;
  width: 7px;
  height: 4px;
  right: 10px;
  top: 13px;
}

.menu_wrap .nav ul li a {
  display: block;
  text-transform: none;
  font-size: 1.2em;
  color:#313131;
  text-transform: uppercase;
  line-height: 1.5em;
  padding: 0 1em 1em 1em;
  background: none;
}

.menu_wrap .nav ul li.divider {
  display: block;
  text-transform: none;
  font-size: 1.2em;
  color: silver;
  border-top: silver solid 1px;
  cursor: default;
  line-height: 1.5em;
  padding: 0 1em 1em 1em;
  background: none;
}

.menu_wrap .nav ul li a span {display:none;
}
.menu_wrap .nav > li > ul li > a:hover,
.menu_wrap .nav > li > ul li.sfHover > a,
.menu_wrap .nav > li > ul li.current > a {
  text-decoration: none;
  background: #323282;
  color: #fff;
}
.menu_wrap .nav > li > ul li > a:hover:before,
.menu_wrap .nav > li > ul li.sfHover > a:before { background: none;  
}
.menu_wrap .nav ul ul {
    position: absolute;
    display: none;
    width: 133px;
    left: 133px;
    top: -6px;
    height: auto;
    list-style: none;
    z-index: 111;
    padding: 14px 0 7px 0;
    margin: 0;
    border-top:0;
}
.page_container {
    padding-bottom:40px;
    background:#FFF;
}
.separator {
}
.block {padding-bottom:50px;
}
#main_slider {padding-bottom:70px;	
}

.accesos {
    padding-top: 20px;
    padding-bottom:50px;
    text-align:center;
}
.accesos a {
    display:block;
    margin-bottom:15px;
    padding:0;
    color:#3a3a3a;
}
.accesos a span.img_icon {
    display:block;
    width:70px;
    height:70px;
    margin:0 auto 14px auto;
}
.accesos a span.icon1 {
    background-image:url(home-banking.png);
    background-position:left top;
    background-repeat:no-repeat;
}
.accesos a:hover span.icon1 {background-position:left bottom;
}
.accesos a span.icon2 {
    background-image:url(patagonia-365.png);
    background-position:left top;
    background-repeat:no-repeat;
}
.accesos a:hover span.icon2 {background-position:left bottom;
}
.accesos a span.icon3 {
	background-image:url(visa.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.accesos a:hover span.icon3 {background-position:left bottom;
}
.accesos a span.icon4 {
	background-image:url(mastercard.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.accesos a:hover span.icon4 {background-position:left bottom;
}
.accesos a span.icon5 {
	background-image:url(empresa-net.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.accesos a:hover span.icon5 {background-position:left bottom;
}
.accesos a span.icon6 {
	background-image:url(interbanking.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.accesos a:hover span.icon6 {background-position:left bottom;
}

.accesos a span.link_title {
	display:block;
	line-height:24px;
	font-size:20px;
	text-transform:uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight:800;
	padding-bottom:8px;
	color:#313131;	
}

.accesos a:hover {text-decoration:none;
}

.introduccion_block {
	padding:36px 0;
	line-height:1.4em;
	font-size:1.6em;
	color:#3b3b3b;
	font-weight:300;
	position:relative;
        display:block;
}

    .introduccion_block strong {
        font-family: "Garamond", serif;
        font-size: 1.3em;
        font-weight: normal;
        
    }

p {
    padding-left: 1em;
    text-align: justify;
    padding-bottom: 1em;
    
}

    p a {
        font-weight: bold;
    }

.block [class*="span"] {margin-bottom:15px;
}
[class*="span"] img, [class*="span"] iframe {max-width:100%;
}

.block ul.the-icons {
	margin-left:0;
	margin-bottom:5px;
}
.upper {text-transform:uppercase;
}

.block:last-child {padding-bottom:0;
}
.block ul, .follow_us ul, #footer ul {
	padding:0;
	margin:0;
	list-style:none;
}
.block li, #footer li {
	padding:0;
	margin:0;
}

#footer {
	background:#FFF;
	padding-top:44px;
	border-top:4px #313131 solid;
	color:#1e1e1e;
	line-height:16px;	
}
#footer a {
	color:#323282;
	font-style:italic;	
}
#footer h2.title {
	color:#313131;
	font-size:21px;
	background:none;
}
#footer .span3 { padding-bottom:30px;
}

#footer li {
	padding:0 0 15px 0;
	margin-bottom:15px;
	border-bottom:1px #eaeaea solid;
	line-height:16px;
}
#footer li:last-child {
	border-bottom:0;
	padding-bottom:0;
	margin-bottom:0;
}

#footer input[type="text"], #footer textarea {
	margin:0 0 5px 0 !important;
	padding: 3px 6px !important;
	font-size: 12px;
	color: #313131;
	font-style:italic;
	-webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;	
	background: #d1d1d1;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	  box-shadow: none;		  
}
#footer textarea { min-height:100px !important;
}
#footer textarea:focus, #footer input[type="text"]:focus {
  outline: 0;
}

.footer_bottom {
	background:#1e1e1e;
	margin-top:20px;
	padding:23px 0 26px 0;
}
.copyright {color:#444444;
}

.foot_right_block {
	text-align:right;
	padding-top:15px;
}
.foot_right_block .fright {margin-left:20px;
}

.inp_search {
	font-family:Arial;
	font-size:12px;
	color:#1e1e1e !important;
	background:#393939 !important;
	width:200px;
	height:17px;
	padding:5px 9px;
	border:1px #393939 solid !important;
	margin:0 0 10px 0;
}

.foot_menu {text-align:right;
}
.foot_menu li {
	display:inline-block;
	padding:0 16px 0  0!important;
	border:0 !important;
	margin:0 !important;
}
.foot_menu li:last-child {padding:0 !important;
}
.foot_menu li a {
	text-transform:uppercase;
	color:#444444 !important;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-style:normal !important;
}
.foot_menu li a:hover, .foot_menu li a.current {
	color:#5f5f5f !important;
	text-decoration:none;
}

#footer .follow_us {padding:4px 0 10px 0; 
}
#footer .follow_us ul li {
	padding:0 !important;
	margin:0 0 0 10px !important;
	display:inline-block;
	line-height:18px;
	border:0 !important;
}
#footer .follow_us a {
	background-image:url(foot_socials.png);
	background-repeat:no-repeat;
	height:18px;
	display:block;
	text-indent:-9999px;
	text-align:left;	
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#footer .follow_us a.facebook {
	background-position:0 0;
	width:13px;	
}
#footer .follow_us a.facebook:hover {background-position:0 -18px;
}
#footer .follow_us a.twitter {
	background-position:-27px 0;
	width:23px;
}
#footer .follow_us a.twitter:hover {background-position:-27px -18px;
}
#footer .follow_us a.tumbrl {
	background-position:-64px 0;
	width:15px;
}
#footer .follow_us a.tumbrl:hover {background-position:-64px -18px;
}
#footer .follow_us a.vimeo {
	background-position:-93px 0;
	width:19px;
}
#footer .follow_us a.vimeo:hover {background-position:-93px -18px;
}
#footer .follow_us a.delicious {
	background-position:-126px 0;
	width:14px;
}
#footer .follow_us a.delicious:hover {background-position:-126px -18px;
}

.breadcrumb {
  padding: 19px 0;
  margin: 0 0 20px 0;
  list-style: none;
  background:#d1d1d1;
  color:#323282;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}
.breadcrumb span {
  color:#1e1e1e;
  padding:0 5px;
}
.breadcrumb a {
  color:#1e1e1e;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}
.profile {text-align:center;
}

.profile_title {
	font-size: 14px;
    margin-bottom:5px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#3a3a3a;
}

.profile img {
	margin:10px auto 15px auto;
	width:169px;
	border-radius:3px;
}

legend {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

.pad25 { padding-top:25px;
}
.pad5 { padding-top:5px;
}
.marg20 { margin-top:20px !important;
}

ul li {
    font-size: 0.9em;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    list-style:square;
}

ul.links {margin-bottom:15px;
}
ul.links li {
	padding:0 0 3px 17px;
        
	margin:0;
	color:#313131;
	background:url(li_arrow.png) no-repeat left top;
}
ul.links li a {	color:#313131;
}
ul.links li a:hover {color:#323282;
} 

.sidebar { padding-top:9px;
}
.sidebar .tweet_arrows {display:none;
}
.widget { margin-bottom:25px;
}
.sidebar h2.title {
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:18px;
}
.sidebar  input.search-query {
  padding:5px 6px 6px 6px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.contact_form { padding-top:6px;
}

.contact_form textarea { min-height:260px !important;
}

table { 
    border-collapse: collapse;
    width: 100%;
    font-family:  sans-serif;
    font-weight: 200;
    margin-bottom: 1.7em;
}
    table small {
        font-size: 0.8em;
        text-transform: uppercase;
        padding-left: 1em;
    }
    table strong {
        font-family: 'Muli', sans-serif;
        font-weight: 500;
        font-size: 1.2em;
    }
    table caption { 
        margin: 0.5em auto; 
        text-align: left;
        padding-left: 1em;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 500;
    }
    table tfoot tr {
        font-family: 'Muli', sans-serif;
        border-top: 1px solid #9d9d9d;
    }
    table tfoot td{
        background: white;
        color: #9d9d9d;
    }
    table th, table td { 
        padding: .4em; 
        border-left: white 1px solid;
        font-weight: normal;
    }
    table tr:nth-child(odd) { 
        background: #ccc; 
    }
    table th, table thead { 
        background: #000; 
        color: #fff; 
        font-weight: 600;
        text-transform:uppercase;
    }

    /* Tablas celestes */
    table.celeste th, table.celeste thead { 
        background: rgba(64,124,201,1);
        color:white; 
    }
    
    table.celeste tr { 
        background: rgba(64,124,201,0.05); 
    }
    table.celeste tr:nth-child(odd) { 
        background: rgba(64,124,201,0.1); 
    }

    /* Tablas rosadas */
    table.rosa th, table.rosa thead { 
        background: rgba(255,88,89,1);
        color:white; 
    }
    table.rosa tr { 
        background: rgba(255,88,89,0.05); 
    }
    table.rosa tr:nth-child(odd) { 
        background: rgba(255,88,89,0.1); 
    }
    
    /* Tablas verdes */
    table.verde th, table.verde thead { 
        background: rgba(114,213,74,1);
        color:white; 
    }
    table.verde tr { 
        background: rgba(114,213,74,0.05); 
    }
    table.verde tr:nth-child(odd) { 
        background: rgba(114,213,74,0.15); 
    }
   
    /* Tablas amarillas */
    table.amarillo th, table.amarillo thead { 
        background: rgba(255,235,150,1);
        color:rgba(218,0,0,1);
    }
    table.amarillo tr { 
        background: rgba(255,235,150,0.05); 
    }
    table.amarillo tr:nth-child(odd) { 
        background: rgba(255,235,150,0.15); 
    }

div.clase-nota {
    background-image: url(png/48x48/attachment.png);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-color: rgba(64,180,229,0.15);
    border-top: 5px solid rgba(64,180,229,1);
    margin: 0.3em;
    margin-top: 2em;
    padding: 1.8em;
    padding-left: 70px;
    min-height: 30px;
    text-align: justify;
}

div.clase-atencion {
    background-image: url(png/48x48/warning.png);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-color: rgba(255,158,21,0.1);
    border-top: 5px solid rgba(255,158,21,1);
    margin: 0.3em;
    margin-top: 2em;
    padding: 1.8em;
    padding-left: 70px;
    min-height: 30px;
    text-align: justify;
}

div.clase-sugerencia {
    background-image: url(png/48x48/info.png);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-color: rgba(0,196,179,0.1);
    border-top: 5px solid rgba(0,196,179,1);
    margin: 0.3em;
    margin-top: 2em;
    padding: 1.8em;
    padding-left: 70px;
    min-height: 30px;
    text-align: justify;
}

div.clase-recuadro {
    padding: 5px 15px 15px 15px;
    margin-bottom: 10px;
}
    div.clase-recuadro h4 {
        padding: 8px;
        margin: -5px -15px 10px -15px;
        line-height: 1em;
    }
    span.aclaracion{
        padding-left: 1em;
    }

    div.clase-recuadro.transparente {
        border: 1px solid #ccc;
    }
    
    div.clase-recuadro .celeste {
        color:white;
    }
        div.clase-recuadro.celeste h4 {
            background: rgba(64,124,201,1);
        }
        div.clase-recuadro.celeste.R1 {
            background-color: rgba(64,124,201,0.8);
        }
        div.clase-recuadro.celeste.R2 {
            background-color: rgba(64,124,201,0.6);
        }
        div.clase-recuadro.celeste.R3 {
            background-color: rgba(64,124,201,0.2);
            color: rgba(64,124,201,1);
        }
            div.clase-recuadro.celeste.R3 h4 {
                color:white;
            }

    div.clase-recuadro.verde {
        color:white;
    }
        div.clase-recuadro.verde h4 {
            background: rgba(114,213,74,1);
        }
        div.clase-recuadro.verde.R1 {
            background-color: rgba(114,213,74,0.8);
        }
        div.clase-recuadro.verde.R2 {
            background-color: rgba(114,213,74,0.6);
        }
        div.clase-recuadro.verde.R3 {
            background-color: rgba(114,213,74,0.2);
            color: rgba(114,213,74,1);
        }
            div.clase-recuadro.verde.R3 h4 {
                color:white;
            }

    div.clase-recuadro.rosa {
        color:white;
    }
        div.clase-recuadro.rosa h4 {
            background: rgba(255,88,89,1);
        }
        div.clase-recuadro.rosa.R1 {
            background-color: rgba(255,88,89,0.8);
        }
        div.clase-recuadro.rosa.R2 {
            background-color: rgba(255,88,89,0.6);
        }
        div.clase-recuadro.rosa.R3 {
            background-color: rgba(255,88,89,0.2);
            color: rgba(255,88,89,1);
        }
            div.clase-recuadro.rosa.R3 h4 {
                color:white;
            }

    div.clase-recuadro.amarillo {
        color: rgba(177,17,22,1);
    }
        div.clase-recuadro.amarillo h4 {
            background: rgba(255,212,0,1);
        }
        div.clase-recuadro.amarillo.R1 {
            background-color: rgba(255,212,0,0.8);
        }
        div.clase-recuadro.amarillo.R2 {
            background-color: rgba(255,212,0,0.6);
        }
        div.clase-recuadro.amarillo.R3 {
            background-color: rgba(255,212,0,0.2);
            color: rgba(177,17,22,1);
        }
            div.clase-recuadro.amarillo.R3 h4 {
                color: rgba(177,17,22,1);
            }
            

div.muro{

}
    div.muro div.ladrillo {
        width: calc(25%);
        height: auto;
        min-height: 190px;
        float: left;
        overflow: hidden;
        position: relative;
    }

    div.muro div.ladrillonoticias {
        width: calc(50%);
        height: auto;
        min-height: 190px;
        float: left;
        overflow: hidden;
        position: relative;
    }
    
    div.muro div.viganoticias {
        width: 100%;
        font-size: 0.8em;
        float: left;
        overflow: hidden;
        position: relative;
    }
    

    div.muro div.ladrillonoticias div.noticias{
        width: calc(100% -20px);
        margin: 5px;
        padding: 5px;
        background:rgba(239,239,239,0.7);
        border-top: 5px #eaeaea solid;
    }
    
    div.muro div.viganoticias div.noticias{
        width: calc(100% -20px);
        border-top: 5px #eaeaea solid;
        padding: 5px;
        margin-bottom: 10px;
        background:rgba(239,239,239,0.7);
    }
    
    div.muro div.ladrillo div.productos{
        width: calc(100% -20px);
        height: 290px;
        margin: 5px;
        padding: 5px;
        background:rgba(0,196,179,0.2);
    }
        div.muro div.ladrillo div.productos:hover{
            background:rgba(0,196,179,0.6);
        }

        div.muro div.ladrillo div.productos div.titulo {
            text-decoration: none !important;
            margin: 0.6em;
            font-size:1.4em;
        }
        div.muro div.ladrillo div.productos div.imagen {

        }
        div.muro div.ladrillo div.productos div.detalles {
            font-size:0.9em;
            color: #5f5f5f;
            text-align: left;
            padding: 0 0 0.4em 0.4em;
        }

    div.muro div.ladrillo div.sucursales{
        width: calc(100% -20px);
        height: 250px;
        margin: 5px;
        padding: 5px;
        background:rgba(0,196,179,0.2);
    }
    
    div.muro div.ladrillo div.comercios{
        width: calc(100% -20px);
        height: 200px;
        margin: 5px;
        padding: 5px;
        background:rgba(0,196,179,0.2);
    }

        div.muro div.ladrillo div.comercios div.imagen {
            background-image: url(../../../hot/comercios/isologos/vacio.jpg);
            background-repeat: no-repeat;
        }
        div.muro div.ladrillo div.comercios div.rubro {
            color: #5f5f5f;
            text-decoration: none !important;
            margin: 0.6em;
            font-size:1.1em;
        }
        div.muro div.ladrillo div.comercios div.nombre {
            text-decoration: none !important;
            margin: 0.6em;
            font-size:1.2em;
        }
    
@media (max-width: 979px) {
    div.muro div.ladrillo {
        width: calc(33.333%);
    }
}

@media (max-width: 768px) {
    div.muro div.ladrillo {
        width: calc(50%);
    }
    div.muro div.ladrillonoticias {
        width: calc(100%);
    }

}

@media (max-width: 400px) {
    div.muro div.ladrillo {
        width: calc(100%);
    }
}

div.prueba {
    width: calc(100% -20px);
    height: 170px;
    margin: 5px;
    padding: 5px;
    background: #ccc;
}

small {
    color:#9d9d9d;
    text-transform:  uppercase;
}

div.chromeframe {
    background-color: black; 
    font-size: 1.1em;
    padding: 1em;
    color:white;
    text-align: right;
}
div.chromeframe a {
    font-weight: bold;
    text-decoration-line: underline;
}

div.busqueda-titulo {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    margin:2em 0 1em 0;
    text-transform:uppercase;
    border-bottom: 1px solid #9d9d9d;
}

div.busqueda-linea-resultado {
    font-family: 'Muli', Verdana, sans-serif;
    font-size: 1em;
    padding-left: 0.5em;
    margin:2em 0 1em 0;
}
    div.busqueda-linea-resultado div.busqueda-linea-resultado-titulo {
    }
    div.busqueda-linea-resultado div.busqueda-linea-resultado-detalles {
        color: #9d9d9d;
    }
    
div.comisiones-titulo {
    font-weight: bold;
    font-size: 0.9em;
}

div.comisiones-detalles {
    font-size: 0.9em;
}

div.comisiones-exenciones {
    font-size: 0.9em;
    font-style: italic;
    color: #3b3b3b;
}

div.comisiones-notas {
    font-size: 0.8em;
    font-style: italic;
}