{% extends "APDSaquitoMainBundle:Templates:layout.html.twig" %}
{% block bloque_contenido %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Por ahora todo ok!!.-
                
                <h1>{{resultado}}</h1>
            </div>
        </div>
    </div>

{% endblock %}
