{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}
    <section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">
      <div class="container">
        <h1>{{pagina.titulo}}</h1>
        
        {% for bloque in pagina.bloques %}
            {% if bloque.nombre == "bloque_contenido" %}
                {{ bloque.html | raw }}
            {% endif %}
        {% endfor %}        
        
        {{ render(controller('APDIpaPropioBundle:Documentos:listarTipo', { 'tipo': 'tramite' })) }}
        
      </div>
    </section>    
{% endblock %}

