{% extends 'APDSaquitoMainBundle:Admin:custom_layout.html.twig' %}
{% block form %}
<h3>Modificar foto de la portada</h3>
<h5>{{ noticia.titulo }}</h5>
<form class="form-horizontal" action="{{ admin.generateUrl('subirfoto', {'id': noticia.id})}}"  method="POST" enctype="multipart/form-data">
    <input type="file" name="foto" id="foto">
    <input type="hidden" value="{{ noticia.id }}" name="idNoticia" />

    <input id="submit" value="Subir foto" type="submit" class="btn btn-primary" />
    <a class="btn btn-primary" href="{{ admin.generateUrl('eliminarfoto', {'id': noticia.id})}}"> Dejar sin foto </a>
    {% if admin.hasroute('list') and admin.isGranted('LIST')%}
        <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">
            <i class="icon-list"></i> {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}
        </a>
    {% endif %}
</form>

{% if noticia.fotoportada == 1 %}
    <img class="foto" name="" src="{{ asset(proyecto.nombre ~ '/hot/noticias/' ~ noticia.id ~ '.jpg')}}?{{ random(5) }}" >
{% else %}
    <img class="foto" name="" src="{{ asset(proyecto.nombre ~ '/images/vacio.jpg')}}" >
{% endif %}

{% endblock %}


