{# empty Twig template #}

<a href="{{ admin.generateObjectUrl('fotoportada', object) }}" class="btn btn-sm btn-default edit_link" title="Portada">
    <i class="glyphicon glyphicon-camera"></i>
    Foto Portada 
</a>
