{% extends 'APDSaquitoMainBundle:Admin:custom_layout.html.twig' %}
{% block form %}
<h3>Plubicar el artículo en las redes sociales</h3>

<h4>Estás por publicar en tus redes sociales, el artículo del día <i>{{ noticia.fecha | date('d/m/Y')}} </i>
    titulado <strong>"{{ noticia.titulo |upper }}"</strong> en las redes sociales. </h4>

    
    <form action="{{ admin.generateObjectUrl('publicado', noticia) }}" method="post" >
        <h4>Si lo deseas, antes de publicar ingresá un Hashtag: </h4>
    # <input type="text" name="hashtag" maxlength="50" size="50"> <br/><br/>
          <input type="hidden" name="id" value="{{noticia.id}}">
        <input type="submit" value="Publicar">
    </form>       


{% endblock %}
