{% extends 'APDSaquitoMainBundle:Admin:custom_layout.html.twig' %}
{% block form %}
<h3>Publicaciones en en redes sociales</h3>

<h4>Publicaste correctamente el artículo con fecha de {{ noticia.fecha | date('d/m/Y')}} 
    titulado <strong>"{{ noticia.titulo |upper }}"</strong>: </h4>

{% if facebookeado %}
<h6> - Facebook : Publicado </h6>
{% else %}
<h6> - Facebook : Sin Publicar </h6>
{% endif %}

{% if twiteado %}
<h6> - Twitter : Publicado </h6>
{% else %}
<h6> - Twitter : Sin Publicar </h6>
{% endif %}
<br>

    <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">
        <i class="icon-list"></i> {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}
    </a>

{% endblock %}
