<form action="{{path('saquito_paginas_contacto_procesar')}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.nombre, {'attr':{'class': 'input-block-level'}}) }}
    {{ form_row(form.email, {'attr':{'class': 'input-block-level'}}) }}
    {{ form_row(form.telefono, {'label': 'Teléfono','attr':{'class': 'input-block-level'}}) }}
    {{ form_row(form.asunto, { 'attr':{'class': 'input-block-level'}}) }}
    {{ form_row(form.cuerpo, { 'label': 'Mensaje','attr': {'class': 'input-block-level'} }) }}
    {{ form_rest(form) }}<br/>
</form>   
