{% extends "APDSaquitoPaginasBundle:Templates:layout.html.twig" %}
{% block bloque_contenido %}

    <div class="container">
        <div class="row">
            <h1>Formulario de contacto del sitio web </h1>
            <br>

            {% if app.session.started %}
                <div>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <h3>{{ flashMessage }}</h3> 
                    {% endfor %}
                </div>
                <br>
            {% endif %}
        </div>
    </div>

{% endblock %}