{% extends "APDSaquitoPaginasBundle:Plantillas:principal.html.twig" %}

{% block bloque_adicional %}
    <div class="row">
        <h4>
            No pudimos recibir el formulario. Para poder enviarnos la inscrición, primero tenés que tildar la opción "No soy un robot". Esto es necesario para evitar el envío de formularios Spam.
        </h4>

        <a href="javascript:history.back()"> Volver al formulario de contacto </a>
    </div> 
{% endblock %}
