{% extends "APDSaquitoPaginasBundle:Plantillas:principal.html.twig" %}

{% block bloque_adicional %}
    <div class="row">
        {{ render(controller('APDSaquitoMultimediaBundle:Facebook:albums'))}}
    </div> 
{% endblock %}
