<div class="nav-wrapper">
  <div class="rd-navbar-nav-wrap">
    <ul class="rd-navbar-nav">
        {#<li><a href="{{ path('saquito_paginas_bienvenidos') }}">Inicio</a></li>#}
        {% for opcion in menu %}
            {% if is_granted('ROLE_USER') or (opcion.privado == false) %}
                {% if opcion.descripcion == "{raiz}" %}
                    {% for pagina in opcion.paginas %}
                        {% if is_granted('ROLE_USER') or (pagina.privado == false) %}
                            <li>
                                <a style="background-color: #ffffff;" href="{{ path('saquito_paginas_ver', {'id':pagina.id,'slug': pagina.slug}) }}">{{pagina.titulo}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% elseif opcion.descripcion != "{oculto}" %}
                    <li>
                        <a style="background-color: #ffffff;" href="#">{{opcion.descripcion}}</a>
                        <ul class="rd-navbar-dropdown">
                            {% for link in opcion.links %}
                                <li>
                                    <a href="{{ link.url }}">
                                        {{link.titulo}}
                                    </a>
                                </li>
                            {% endfor %}
                            {% for pagina in opcion.paginas %}
                                {% if is_granted('ROLE_USER') or (pagina.privado == false) %}
                                    <li>
                                        <a href="{{ path('saquito_paginas_ver', {'id':pagina.id,'slug': pagina.slug}) }}">
                                            {{pagina.titulo}}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    
  </div>
</div>
