{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}
    <section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">
      <div class="container">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
        <br/><br/>
      </div>
    </section>    
{% endblock %}
