{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <h1><span>Boletín interno</span> Iniciar sesión</h1>
            {% if error %}
                <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row offset-top-25">
        <div class="col-xs-12 col-sm-6">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-login">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input placeholder="Usuario o email ..." id="username" name="_username" value="" required="required" class="form-control" type="text">
                </div>
                <div class="form-inline-flex-xs">
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input placeholder=" " id="password" class="form-control" type="password"  name="_password" required="required">
                    </div>
                    <button type="submit" class="btn btn-transparent btn-sm btn-icon btn-icon-right"><span>Ingresar ....</span> &nbsp;  <span class="icon icon-xs material-icons-keyboard_arrow_right"></span></button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <br/>
        <h6 class="text-regular">
            - No recordás la clave?
            <a href="{{ path('fos_user_resetting_request') }}">Presioná sobre este link</a>
        </h6>
    </div>
            
{% endblock fos_user_content %}
