<footer class="page-foot footer-default text-center text-md-left bg-dark">
  <div class="container">
    <div class="range range-sm-justify">

      <div class="cell-xs-12 cell-md-3 offset-top-20 offset-md-top-7 offset-lg-top-0 cell-md-push-3 text-md-right">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/institutodelaguachubut" class="icon icon-xs icon-dark icon-circle icon-border fa-facebook"></a></li>
          <li><a href="#" class="icon icon-xs icon-dark icon-circle icon-border fa-twitter"></a></li>
        </ul>
      </div>
      <div class="cell-xs-12 cell-md-6 offset-top-20 offset-md-top-7 offset-lg-top-0 cell-md-push-2">
        <ul class="list-unstyled">
          <li>
            <dl class="dl-horizontal-variant-1 clearfix text-white">
              <dt><span class="material-icons-location_on icon icon-xs"></span></dt>
              <dd><a href="#" class="text-white text-sbold">José Rogers 643, Rawson, Chubut (CP9103)</a></dd>
            </dl>
          </li>
          <li>
            <dl class="dl-horizontal-variant-1 clearfix text-white">
              <dt><span class="material-icons-local_phone icon icon-xs"></span></dt>
              <dd><a href="callto:+549 0280 4484506" class="text-white text-bold h6">+549 0280 4484506</a></dd>
            </dl>
          </li>
          <li>
            <dl class="dl-horizontal-variant-1 clearfix text-white">
              <dt><span class="material-icons-mail icon icon-xs"></span>institutodelaguachubut@gmail.com</dt>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <br/><br/><br/>
  </div>
</footer>                