
<div class="rd-navbar-wrap header-default">
  <nav class="rd-navbar"rd-navbar-panel data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-device-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fullwidth" data-stick-up-offset="100px">
    <div class="rd-navbar-inner">
      <button data-rd-navbar-toggle=".rd-navbar-top-panel" type="submit" class="rd-navbar-collapse-toggle"><span></span></button>
      <!-- RD top panel-->
      <div class="rd-navbar-top-panel">
        <div class="top-panel-inner-left">
            <dl class="dl-horizontal-variant-1 text-white">
              <dt><span class="material-icons-location_on icon"></span></dt>
              <dd><a href="https://www.google.com.ar/maps/place/Jos%C3%A9+Rogers+643,+Rawson,+Chubut/@-43.300852,-65.0943362,17z/data=!3m1!4b1!4m5!3m4!1s0xbe0156e247e47e51:0xc5e8e456cf61c2f6!8m2!3d-43.3008559!4d-65.0921475" class="text-white" target="_blank">José Rogers 643, Rawson, Chubut (CP9103)</a></dd>
              <dt><span class="material-icons-telephone_on icon"></span></dt>
            </dl>

            <dl class="dl-horizontal-variant-1 text-white">
              <dt><span class="material-icons-local_phone icon"></span></dt>
              <dd><a href="tel:+549 0280 4484506" class="text-white">+549 0280 4484506</a></dd>
            </dl>
        </div>
        <ul class="list-inline">
              <li><a style="color:#FFFFFF" href="https://www.facebook.com/institutodelaguachubut" class="icon icon-xs icon-dark icon-circle icon-border fa-facebook"></a></li>
              <li><a style="color:#FFFFFF" href="https://twitter.com/AguaChubut" class="icon icon-xs icon-dark icon-circle icon-border fa-twitter"></a></li>
              <li><a style="color:#FFFFFF" href="https://www.youtube.com/channel/UCwm1hJmnErup1rfQm1RnlrA" class="icon icon-xs icon-dark icon-circle icon-border fa-youtube"></a></li>
        </ul>


            {% if is_granted('ROLE_USER') %}
                
                <ul class="list-inline-variant-2">
                  <li><i class="fa fa-user" aria-hidden="true"></i> Bienvenido {{ app.user.username|upper }}</li>
                  <li><a href="{{ path('fos_user_security_logout')}}" style="font-size: 1em;">Cerrar sesión</a></li>
                </ul>
                
            {% else %}
                <ul class="list-inline-variant-2">
                  <li><i class="fa fa-user" aria-hidden="true"></i> Boletín interno</li>
                  <li><a href="{{ path('fos_user_security_login')}}" style="font-size: 1em;">Iniciar sesión</a></li>
                </ul>
            {% endif %}
          
        <!-- Redes sociales en la lista -->
      </div>
      <!-- RD Navbar Panel-->
      <div class="rd-navbar-panel-wrapper">
        <div class="rd-navbar-panel">
          <!-- RD Navbar Toggle-->
          <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
          <!-- RD Navbar Brand-->
          <div class="rd-navbar-brand">
                <a href="{{ path('saquito_paginas_bienvenidos') }}" class="brand-name">
                    <img src="{{ asset( proyecto.nombre ~ '/images/isologos.png') }}" >
                </a>
          </div>
        </div>
        {{ render(controller('APDIpaPropioBundle:Default:vermenu'))}}
        <!-- Social list-->
        <div class="rd-navbar-social-panel">
 {#         <ul class="list-inline">
            <li><a href="#" class="icon icon-xs icon-dark icon-circle fa-facebook"></a></li>
            <li><a href="#" class="icon icon-xs icon-dark icon-circle fa-twitter"></a></li>
          </ul>#}
        </div>
      </div>
    </div>
  </nav>
</div>  