<br>

<div class="range range-no-gutter text-center">

    <div class="cell-xs-12 cell-sm-1 cell-md-1">


    </div>

    <div class="cell-xs-12 cell-sm-4 cell-md-4">

        <p style="font-weight: bold;">CUÁL ES TU HUELLA?</p>

        <p style="font-weight: bold;">Calculá tu huella ecológica, de carbono y de agua para dar un primer paso hacia un estilo 
        de vida responsable.</p>

        <a href="http://ocs.frm.utn.edu.ar/huella/index.php?p=paso1" >
            <img src="{{ asset( proyecto.nombre ~ '/images/btn_calcular.png') }}"/>
        </a>

    </div>

    <div class="cell-xs-12 cell-sm-2 cell-md-2">


    </div>

    <div class="cell-xs-12 cell-sm-4 cell-md-4">

        <p style="font-weight: bold;">Chubut al mundo 2017</p>

        <a href="https://drive.google.com/open?id=0B5SKuU1lkaYsVjIzUWc1akczX0E"><p style="font-weight: bold;">Descargar Material</p></a>

        <a href="https://drive.google.com/open?id=0B5SKuU1lkaYsVjIzUWc1akczX0E" >
            <img src="{{ asset( proyecto.nombre ~ '/images/chubut2.png') }}"/>
        </a>

    </div>

    <div class="cell-xs-12 cell-sm-1 cell-md-1">


    </div>


</div>