<style type="text/css">

    header.masthead {
      text-align: center;
      color: white;
      background-image: url("{{ asset( proyecto.nombre ~ '/images/banner_2.jpg') }}");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px; }
        header.masthead .intro-text .intro-lead-in {
          font-size: 22px;
          font-style: italic;
          line-height: 22px;
          margin-bottom: 25px;
          font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
        header.masthead .intro-text .intro-heading {
          font-size: 50px;
          font-weight: 700;
          line-height: 50px;
          margin-bottom: 25px;
          font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          text-transform: uppercase; }

    @media (min-width: 768px) {
      header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px; }
        header.masthead .intro-text .intro-lead-in {
          font-size: 40px;
          font-style: italic;
          line-height: 40px;
          margin-bottom: 25px;
          font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
        header.masthead .intro-text .intro-heading {
          font-size: 75px;
          font-weight: 700;
          line-height: 75px;
          margin-bottom: 50px;
          font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          text-transform: uppercase; } }

    .btn-xl {
          font-size: 18px;
          font-weight: 700;
          padding: 20px 40px;
          border-radius: 3px;
          color: white;
          border-color: #0658cc;
          background-color: #0658cc;
          font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          text-transform: uppercase; }
          .btn-xl.focus, .btn-xl:focus {
            color: white;
            border-color: #0658cc;
            background-color: #0658cc; }
          .btn-xl:hover {
            color: white;
            border-color: #0658cc;
            background-color: #0658cc; }
          .btn-xl.active, .btn-xl:active,
          .open > .btn-xl.dropdown-toggle {
            color: white;
            border-color: #0658cc;
            background-color: #0658cc; }
            .btn-xl.active.focus, .btn-xl.active:focus, .btn-xl.active:hover, .btn-xl:active.focus, .btn-xl:active:focus, .btn-xl:active:hover,
            .open > .btn-xl.dropdown-toggle.focus,
            .open > .btn-xl.dropdown-toggle:focus,
            .open > .btn-xl.dropdown-toggle:hover {
              color: white;
              border-color: #0658cc;
              background-color: #0658cc; }
          .btn-xl.active, .btn-xl:active,
          .open > .btn-xl.dropdown-toggle {
            background-image: none; }
          .btn-xl.disabled.focus, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled].focus, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
          fieldset[disabled] .btn-xl.focus,
          fieldset[disabled] .btn-xl:focus,
          fieldset[disabled] .btn-xl:hover {
            border-color: #fed136;
            background-color: #fed136; }
          .btn-xl .badge {
            color: #fed136;
            background-color: white; }

</style>


<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading"></div>
      <!--<a style="margin-bottom: 60px;" href="#" class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40"><span>+ información</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span></a>-->
      <a class="btn btn-xl js-scroll-trigger" href="http://institutodelagua.chubut.gov.ar/es/45/jornadas-patagonicas-del-agua">Más Informacion</a>
    </div>
  </div>
</header>