<section class="rd-parallax">
  <div data-speed="0" data-lg-speed="0.4" data-type="media" class="rd-parallax-layer" data-url="{{ asset( proyecto.nombre ~ '/images/4.jpg') }}">
  </div>
  <div data-speed="0" data-lg-speed="0.1" data-type="html" class="rd-parallax-layer">
    <div class="parallax-inner">
      <h1 style="color:#FFFFFF">Solicitud de Permiso de uso de Agua</h1>
      <p style="color:#FFFFFF" class="h4 text-regular">Obtene tu Permiso</p>
      <a href="{{ path('saquito_paginas_ver', {'id':'38','slug': 'permiso-de-uso-de-agua'}) }}" class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40"><span>Ver Informacion</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span></a>
    </div>
  </div>
</section>
