<div class="range range-no-gutter text-center">
  <div class="cell-xs-12 cell-sm-6 cell-md-3">
    <div class="banner-block border-right"><span class="icon icon-primary icon-sm fl-bigmug-line-like51"></span>
      <p class="h5 text-regular">Body & mind  balance</p>
    </div>
  </div>
  <div class="cell-xs-12 cell-sm-6 cell-md-3">
    <div class="banner-block border-right"><span class="icon icon-primary icon-sm fl-bigmug-line-nine16"></span>
      <p class="h5 text-regular">Healthy daily <br class="visible-md"> life</p>
    </div>
  </div>
  <div class="cell-xs-12 cell-sm-6 cell-md-3">
    <div class="banner-block border-right"><span class="icon icon-primary icon-sm fl-bigmug-line-foggy3"></span>
      <p class="h5 text-regular">Meditation <br class="visible-md"> practice</p>
    </div>
  </div>
  <div class="cell-xs-12 cell-sm-6 cell-md-3">
    <div class="banner-block"><span class="icon icon-primary icon-sm fl-bigmug-line-notification4"></span>
      <p class="h5 text-regular">Yoga month challenge</p>
    </div>
  </div>
</div>
