{% extends "APDSaquitoInitializrBundle::layout.html.twig" %}

{% block bloque_stylesheet %} 
    {{ parent() }}
{% endblock %}

{% block bloque_body %} 
{{ parent() }}

<div class="page">
    <header class="page-head header-swiper">
        {% include 'APDSaquitoPaginasBundle:Templates:_header.html.twig' %}
    </header>
    <main class="page-content">
        {% block bloque_contenido %}{% endblock %}
    </main>
    
    {% include 'APDSaquitoPaginasBundle:Templates:_footer.html.twig' %}

</div>
    
{% endblock %}


{% block bloque_javascript %} 
    {{ parent() }}

{% endblock %}