<h3 class="text-primary">Usuarios</h3>
<h3 class="normal">Restablecer la contraseña</h3>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="formulario fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <button type="submit" id="_submit" name="_submit" class="btn btn-md btn-primary"/>Enviar</button>
    </div>
</form>
