/* 
    Document   : saquito_main
    Created on : 03/05/2015, 10:25:07
    Author     : Andrés Pieruccioni
    Description:
        Purpose of the stylesheet follows.
*/

/* GOOGLE FONTS */
/*@import url(http://fonts.googleapis.com/css?family=Exo+2:400,400italic,200,200italic,600,600italic,800,800italic);

body
{
    font-family: 'Exo 2', sans-serif !important;
    font-size: 1em;
}*/
