{% if (sliders is not empty) %}
    <div class="carousel slide" data-interval="3000" data-pause="hover" data-ride="carousel" id="miSlider">
        <ol class="carousel-indicators">
            {% set activo = 'active' %} {% set contador = 0 %}
            {% for slide in sliders %}
                <li class="{{ activo }}" data-slide-to="{{contador}}" data-target="#miSlider">&nbsp;</li>
                {% set activo = ' ' %} {% set activo = contador +1 %}
            {% endfor %}
        </ol> 

        <div class="carousel-inner">
            {% set activo = 'active' %}
            {% for slide in sliders %}
                <div class="item {{ activo }}"><img alt="" src="{{ asset(slide.verslyder) }}" style="width:100%" />
                    
                </div>
                {% set activo = '' %}
            {% endfor %}
        </div>
    </div>

{% endif %}