{# empty Twig template #}
<a href="{{ admin.generateObjectUrl('publicarpagina', object) }}" class="btn btn-sm btn-default edit_link" title="Publicar">
    <i class="glyphicon glyphicon-share-alt"></i>
    Publicar en redes
</a>