{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

    <style type="text/css">

        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;


        }

    </style>

    <section class="text-sm-left section-40 section-md-bottom-115">

        <div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">Áreas Temáticas</h1>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-1 col-xs-12">

                </div>

                <div class="col-sm-10 col-xs-12">

                    <h6>• <strong>El Agua y su Gestión Integrada:</strong> <span>Gestión descentralizada y 
                        participativa, Usos Múltiples del Agua y Prioridades, Unidad de Planificación y Gestión, 
                        Planificación Hídrica, Sistema integrado de información hídrica, Acciones 
                        estructurales y no estructurales, Marco legislativo y Aguas Interjurisdiccionales.</span>
                    </h6>

                    <h6>

                        Lic. Ornella Malaspina - Lic. Carlos Scatizza Aguas subterráneas Acuíferos Subterráneos Gastre y Sacanana

                        <hr>

                    </h6>

                    <h6 style="margin-top: 7px;">

                        • <strong>El Agua, Producción y Energía:</strong> <span>El agua como motor de desarrollo 
                        sustentable, EL Valor económico del agua, Permisos de Uso de agua, Vertido de efluentes,  
                        Subsidios, cobros y refinanciamiento de infraestructura hídrica.</span>

                    </h6>

                    <h6>

                        Daniel Accatatis. Aprovechamientos hidroeléctricos previstos en Neuquén.

                        <hr>

                    </h6>

                    <h6 style="margin-top: 7px;">

                        • <strong>El Agua y el Ambiente:</strong> Incorporación de la dimensión ambiental,  
                        Articulación de la Gestión Hídrica con la Gestión ambiental,  Calidad de las Aguas, 
                        Conservación y reuso del agua.

                    </h6>

                    <h6>

                        Lic. Betina Laurenzano: Agua y explotación hidrocarburifera no convencional.
                        <hr>

                    </h6>

                    <h6 style="margin-top: 7px;">

                        • <strong>El Agua,  educación y Cultura:</strong> El agua en los diseños curriculares, 
                        Programas educativos en torno al capital Hídrico, Concursos y Misiones educativas,  Ética 
                        y gobernabilidad del agua, Desarrollo de la Cultura del agua, Actualización Legal y 
                        administrativa y Prevención de Conflictos. 

                    </h6>

                    <h6>

                        Sergio Mogliati, Agua y educación. 
                        <hr>

                    </h6>

                    <h6 style="margin-top: 7px;">

                        • <strong>El agua y la Salud:</strong> Agua Potable y saneamiento como derecho humano 
                        básico, Impactos por exceso o escasez de agua, El agua como factor de riesgo.

                    </h6>

                    <h6>

                    </h6>

                </div>

                <div class="col-sm-2 col-xs-12">

                </div>

            </div>

        </div>

    </section>    
{% endblock %}