{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

	<style type="text/css">

        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;


        }

    </style>

	<section class="text-sm-left section-40 section-md-bottom-115">

		<div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">Auspiciantes</h1>

        <div class="container">

            <div class="row">
                <div class="col-sm-2">
                    <a href="http://www.cohife.org/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_cohife.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.hidroameghino.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_hasa.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="#">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_evarsa.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.hidroar.com/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_hidroar.jpg') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.aluar.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_aluar.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.orsep.gob.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_orsep.jpg') }}" class="thumbnail">

                    </a>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-sm-2">
                    <a href="http://www.ebisa.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_ebisa.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.chfutaleufu.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_hf.jpg') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                   <a href="http://www.patagoniabroker.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_broker.jpeg') }}" class="thumbnail">
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.mef.org.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_mef.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.trelew.gov.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_trelew.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.epas.gov.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_epas.jpg') }}" class="thumbnail">

                    </a>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-sm-2">
                    <a href="http://www.unp.edu.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_unpsjb2.jpg') }}" class="thumbnail">
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.dpa.rionegro.gov.ar/index.php?catID=241" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_dpa.jpeg') }}" class="thumbnail">

                    </a>
                </div>
                <!--<div class="col-sm-2">
                    <a href="#">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/') }}" class="thumbnail">

                    </a>
                </div>-->

            </div>
        </div>

	</section>

{% endblock %}