{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

    <style type="text/css">

        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;
        }

        .formulario {

            width: 100%;
        }

        .texto {

            color: #000000;
        }

    </style>

    <section class="text-sm-left section-40 section-md-bottom-115">

        <div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">Inscripción</h1>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-2 col-xs-12">

                </div>

                <div class="col-sm-8 col-xs-12">

                    <p class="texto"><strong>Costo de la Inscripción:</strong></p>

                    <p class="texto">Expositores: $ 500</p>
                    <p class="texto">Asistentes: $ 250</p>
                    <p class="texto">Estudiantes: sin costo</p>
                    <p class="texto">Docentes de nivel secundario orientados a areas de 
                    Cs. Sociales y Naturales: sin costo</p>

                    <p class="texto"><strong>Pago de la inscripcion:</strong></p>

                    <p class="texto">
                        <a style="color: #000000;" href="#" target="_blank">Ingrese al siguiente link para realizar el pago.</a>
                    </p>    

                </div>

                <div class="col-sm-2 col-xs-12">

                </div>

            </div>

            <div class="row">

                <div class="col-sm-2 col-xs-12">

                </div>

                <div class="col-sm-8 col-xs-12">

                    <hr>

                </div>

                <div class="col-sm-2 col-xs-12">

                </div>

            </div>

            <div class="row">

                <div class="col-sm-2 col-xs-12">

                </div>

                <div class="col-sm-8 col-xs-12">

                    <iframe class="formulario" src="https://docs.google.com/forms/d/e/1FAIpQLSe80tuIjDJCNay6xsqk2U_iy6n3pJPySkayWPWx_xQN_4kFIg/viewform?embedded=true" frameborder="0" height="600">Cargando...</iframe>


                </div>

                <div class="col-sm-2 col-xs-12">

                </div>

            </div>

        </div>

        <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe80tuIjDJCNay6xsqk2U_iy6n3pJPySkayWPWx_xQN_4kFIg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>-->

    </section>    
{% endblock %}