{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">

		.jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;


        }

	</style>

	<section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">

		<div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

		<h1 class="titulo" style="text-align: center;">{{pagina.titulo}}</h1>

		<div class="container">

			<a href="http://institutodelagua.chubut.gov.ar/documentos/pdf/cronograma-de-actividades/18/cronograna-de-actividades" target="_blank" >
                <img src="{{ asset( proyecto.nombre ~ '/images/descarga-pdf.png') }}" style="width:150px !important; alignment-adjust: text-before-edge">
                                     
            </a>   

		</div>

		<div class="container">

			<h3>Jueves 02 de Noviembre</h3>

			<table class="table">

				<thead>

					<th>Hora</th>
					<th>Actividad</th>
					<th>Lugar</th>

				</thead>

				<tbody>

					<tr>
						<td>13:00</td>
						<td>Acreditación</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>15:00</td>
						<td>Acto de Apertura</td>
						<td>Auditórium Museo Egidio Feruglio</td>
					</tr>

					<tr>
						<td>15:30</td>
						<td>Conferencia Inaugural Ing. Javier Pascuchi</td>
						<td>Auditórium Museo Egidio Feruglio</td>
					</tr>

					<tr>
						<td>16:30</td>
						<td>Presentación y Disertación del Ing. Daniel Petri, DPA Rio Negro y COHIFE</td>
						<td>Auditórium Museo Egidio Feruglio</td>
					</tr>


				</tbody>


			</table>

			<h3>Viernes 03 de Noviembre</h3>

			<table class="table">

				<thead>

					<th>Hora</th>
					<th>Actividad</th>
					<th>Moderador</th>
					<th>Lugar</th>


				</thead>

				<tbody>

					<tr>
						<td>09:00 - 10:45</td>
						<td>Mesas de Exposición: El Agua y su Gestión Integrada</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>11:00 - 12:30</td>
						<td>Mesas de Exposición: El Agua, Producción y Energía </td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>14:30</td>
						<td>Conferencia Magistral Ing. Sergio Mogliatti </td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>15:30 - 17:30</td>
						<td>Mesas de Exposición:  El Agua y el Ambiente</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>15:30 - 17:30</td>
						<td>Mesas de Exposición: El Agua, Educación y Cultura</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>15:30 - 17:30</td>
						<td>Mesas de Exposición:  El agua y la Salud</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>18:30</td>
						<td>Conferencia Magistral Ing. Marcos Cipponeri</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>


				</tbody>


			</table>

			<h3>Sabado 04 de Noviembre</h3>

			<table class="table">

				<thead>

					<th>Hora</th>
					<th>Actividad</th>
					<th>Moderador</th>
					<th>Lugar</th>


				</thead>

				<tbody>

					<tr>
						<td>09:00 - 10:30</td>
						<td>Mesas de Exposición: El Agua y su Gestión Integrada</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>11:00 - 12:00</td>
						<td>Mesas de Exposición: El Agua, Producción y Energía</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>12:00</td>
						<td>Conferencia Magistral Ing. Marta Paris</td>
						<td>-</td>
						<td>Edificio de Aulas UNPSJB</td>
					</tr>

					<tr>
						<td>14:00</td>
						<td>Salidas Técnicas</td>
						<td>-</td>
						<td>A confirmar</td>
					</tr>

					<tr>
						<td>17:00</td>
						<td>Clausura</td>
						<td>-</td>
						<td>A confirmar</td>
					</tr>

				</tbody>

			</table>

		</div>

	</section>

{% endblock %}