{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

    <style type="text/css">

        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 50px;
        }

        body {

            color: #414042;
        }

        td {

            font-weight: bold;
        }

        a {

            color: #000000;
        }


    </style>

    <section class="text-sm-left section-40 section-md-bottom-115">


        <div class="container-fluid" id="documentacion">

            <div class="row">

                <div class="col-sm-8">

                    <h6>El tramite se inicia en el IPA.</h6>
                    <h6>La documentacion se presenta personalmente en mesa de entrada.</h6>
                    <h6>Documentacion a presentar:</h6>

                </div>

                <div class="col-sm-4">

                    <a href="https://drive.google.com/open?id=0B5SKuU1lkaYsMWNpYnNjUFR3Yjg" target="_blank">

                        <button> 

                            Descargar formulario de inscripcion
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        </button>
                    </a>


                </div>

            </div>
            <br>
            <table>

                <thead>

                    <tr>

                        <th>Persona Fisica</th>
                        <th>Razon Social</th>
                        <th>Organismo Publico</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td>Nota del presente solicitando el permiso uso de agua</td>
                        <td>Nota del presente solicitando permiso de uso  de agua</td>
                        <td>Nota del presente solicitando permiso de uso de agua</td>
                    </tr>

                    <tr>
                        <td>Formulario Inscripccion</td>
                        <td>Formulario Inscripccion</td>
                        <td>Instrumento legal designacion de cargos</td>
                    </tr>

                    <tr>
                        <td>Condiciones y duracion de estos derechos</td>
                        <td>Condiciones y duracion de estos derechos</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Titulo de propiedad, o acreditacion de la tenencia o posesion de la tierra</td>
                        <td>Titulo de propiedad, o acreditacion de la tenencia o posesion de la tierra</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Origen de las Aguas</td>
                        <td>Origen de las Aguas</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Tiempo de Utilizacion</td>
                        <td>Tiempo de Utilizacion</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Caudal expresado en litros por segundo</td>
                        <td>Caudal expresado en litros por segundo</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Especificaciones del modelo de riego y lugar donde se tiran las aguas sobrantes</td>
                        <td>Especificaciones del modelo de riego y lugar donde se tiran las aguas sobrantes</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Memoria descriptiva del proyecto avalado por profesional competente Firmado en forma original</td>
                        <td>Memoria descriptiva del proyecto avalado por profesional competente Firmado en forma original</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Individualizacion de las propiedades vecinas que resulten afectadas por servidumbre</td>
                        <td>Individualizacion de las propiedades vecinas que resulten afectadas por servidumbre</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Informe de cumplimiento a lo normado en materia ambiental emitido por el ministerio de ambiente y control del desarrollo sustentable</td>
                        <td>Informe de cumplimiento a lo normado en materia ambiental emitido por el ministerio de ambiente y control del desarrollo sustentable</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Plano o Croquis de la propiedad que especfique su ubicación</td>
                        <td>Plano o Croquis de la propiedad que especfique su ubicación</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Fotocopia certificadas en original de DNI 1er y 2da hoja</td>
                        <td>Estatuto social y modificaciones</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Constancia de inscripccion en Inspeccion General de Justicia</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Copia del poder o acta donde consta designacion del representante legal</td>
                        <td></td>
                    </tr>

                </tbody>

            </table>

        </div>

    </section>    
{% endblock %}