{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

    <style type="text/css">

        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;
        }

        .foto-marta {

            width: 196px;
            height: 225px;
        }

        .foto-petri {

            width: 299px; /*300*/
            height: 229px;  /*250*/
        }

        .foto-pascuchi {

            width: 196px;
            height: 225px;
        }

        .btn-cv {

            color: #44B7E9;
            background: #44B7E9; 
        }


    </style>

    <section class="text-sm-left section-40 section-md-bottom-115">

        <div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">Expositores</h1>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-1 col-xs-12">

                </div>

                <div class="col-sm-5 col-xs-12">

                    <h5><strong>
                        Mg. Marta Paris
                    </h5></strong>

                    <img class="foto-marta" src="{{ asset( proyecto.nombre ~ '/images/marta_paris.jpg') }}">

                    <h6>Ing. en Recursos Hídricos de la Universidad Nacional del Litoral.</h6>

                    <a href="https://drive.google.com/open?id=0Bxke49YPkCKGWUJ6RVR4Y1FDVXM" target="_blank" 
                        class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40">
                        <span>Ver CV</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                    </a>

                </div>

                <div class="col-sm-5 col-xs-12">

                    <h5><strong>Ing. Daniel Petri</strong></h5> <br>

                    <img class="foto-petri" src="{{ asset( proyecto.nombre ~ '/images/daniel.jpg') }}"> 

                    <h6>Ing. en Recursos Hídricos egresado de la Facultad de Ingeniería y Ciencias Hídricas 
                        (FICH – UNL).</h6>

                    <a href="https://drive.google.com/open?id=0Bxke49YPkCKGeG50eU1nSEFuTTg" target="_blank" 
                        class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40">
                        <span>Ver CV</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                    </a>

                </div>  

                <div class="col-sm-1 col-xs-12">

                </div>
            </div>

            <div class="row">

                <div class="col-sm-1 col-xs-12">

                </div>

                <div class="col-sm-5 col-xs-12">

                    <h5><strong>Lic. Francisco Javier Pascuchi</strong></h5>

                    <img class="foto-pascuchi" src="{{ asset( proyecto.nombre ~ '/images/pascuchi.jpg') }}">

                    <h6>Licenciado en Economía Política. UBA</h6> 

                    <a href="https://drive.google.com/open?id=0Bxke49YPkCKGWUw4VkI5Yng5QTQ" target="_blank" 
                        class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40">
                        <span>Ver CV</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                    </a>

                </div>

                <div class="col-sm-5 col-xs-12">

                    <h5><strong>Ing. Marcos  Cipponeri</strong></h5>

                    <img class="foto-marta" src="{{ asset( proyecto.nombre ~ '/images/cipponeri.png') }}">

                    <h6>Ing. Hidráulico y Civil UNLP</h6>

                    <a href="https://drive.google.com/open?id=0B5SKuU1lkaYsWHc1ZW5QNHNWVmM" target="_blank" 
                        class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40">
                        <span>Ver CV</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                    </a>

                </div>

                <div class="col-sm-1 col-xs-12">

                </div>


            </div>

            <div class="row">

                <div class="col-sm-1 col-xs-12">

                </div>

                <div class="col-sm-5 col-xs-12">

                    <h5><strong>Sergio Mogliati</strong></h5>

                    <a href="" target="_blank" 
                        class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40">
                        <span>Ver CV</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                    </a>

                </div>

                <div class="col-sm-5 col-xs-12">

                </div>

                <div class="col-sm-1 col-xs-12">

                </div>


            </div>

        </div>
    </section>    
{% endblock %}