{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">

		.jumbotron {
	            background-color: #44B7E9;
	            color: #fff;
	            /*padding: 100px 25px;*/
	            font-family: Montserrat, sans-serif;
	        }

	    .titulo {

	        font-family: Montserrat, sans-serif;
	    }

		body {
	    	padding-top: 54px;
		}

		@media (min-width: 992px) {
	    	body {
	        	padding-top: 56px;
	    	}
		}

	</style>

	<section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">

		<div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">{{pagina.titulo}}</h1>

        <div class="container">

	      <div class="row text-center text-lg-left">

	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_unpsjb2.jpg') }}" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="C:\Victor\Albunes contenido multimedia\Asamblea Cohife\WhatsApp Image 2017-06-01 at 11.14.33.jpeg" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="C:\Users\Usuario\Downloads\limpeza_de_canales.JPG" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="C:\Users\Usuario\Downloads\taller-inta.jpeg" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="C:\Users\Usuario\Downloads\Limpieza arroyo Esquel.jpg" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="C:\Users\Usuario\Downloads\agua-virtual.png" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
	          </a>
	        </div>
	        <div class="col-lg-3 col-md-4 col-xs-6">
	          <a href="#" class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
	          </a>
	        </div>
	      </div>

    	</div>

	</section>

{% endblock %}