{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

	<style type="text/css">

		.jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;
        }

	</style>

	<section class="text-sm-left section-40 section-md-bottom-115">

		<div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <div class="container">

        	<h6>1. entrar al siguiente link <a href="http://www.dgrchubut.gov.ar/" target="_blank">http://www.dgrchubut.gov.ar/</a> y encontraras la siguiente imagen:</h6> <br>

        	<img src="{{ asset( proyecto.nombre ~ '/images/instructivo_pago/1.png') }}">

        	<h6>2. Luego clickear en TASAS, donde se despliega la siguiente imagen.</h6> <br>

        	<img src="{{ asset( proyecto.nombre ~ '/images/instructivo_pago/2.png') }}">

        	<h6>3. Luego seleccione el Organismo Instituto Provincial del Agua que es el primero en la Lista</h6> <br>

        	<img src="{{ asset( proyecto.nombre ~ '/images/instructivo_pago/3.png') }}">

        	<h6>4. Presione continuar, se encontrará la siguiente imagen:</h6> <br>

        	<img src="{{ asset( proyecto.nombre ~ '/images/instructivo_pago/4.png') }}">

        	<h6>5. Donde señala "seleccione un concepto" deberá ir a FORTALECIMIENTO RG N°97/16 AGRH</h6> <br>

        	<img src="{{ asset( proyecto.nombre ~ '/images/instructivo_pago/5.png') }}">

        	<h6>6. Luego completar el formulario y hacer click en general boleta</h6> <br>

        	<img src="{{ asset( proyecto.nombre ~ '/images/instructivo_pago/6.png') }}">

        	<h6>7. Luego aparecerán los medios de pago, el cual seleccionará para su conveniencia.</h6> <br>

        	<img src="{{ asset( proyecto.nombre ~ '/images/instructivo_pago/7.png') }}">

        	<h6>Al momento de la recepción el día 02 de noviembre en el portal de la Universidad 
        		Nacional de la Patagonia San Juan Bosco, deberá presentar copia del pago para agilizar 
        		la gestión. <br><br>
				Esperamos haber podido colaborar con este paso a paso en el pago de su inscripción. Gracias
			</h6>

        </div>

	</section>

{% endblock %}