
{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}


{% block bloque_contenido %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <style>
        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .container-fluid {
            /*padding: 60px 50px;*/
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .logo-small {
            color: #44B7E9;
            font-size: 50px;
        }

        @media screen and (max-width: 768px) {
            .col-sm-4 {
                text-align: center;
                margin: 25px 0;
            }
        }
        .carousel-control.right, .carousel-control.left {
            background-image: none;
            color: #44B7E9;
        }

        .carousel-indicators li {
            border-color: #44B7E9;
        }

        .carousel-indicators li.active {
            background-color: #44B7E9;
        }

        .carousel {
            background-color: #f6f6f6;
        }

        .item h4 {
            font-size: 19px;
            line-height: 1.375em;
            font-weight: 400;
            font-style: italic;
            margin: 70px 0;
        }

        .item span {
            font-style: normal;
        }

        .mapa-trelew {

            padding-top: 0px;
        }

        .texto-mapa {
            text-align: center;
        }

        .texto-auspiciantes {
            text-align: center;

        }

    </style>


    <!--<h1 style="text-align: center;">{{pagina.titulo}}</h1>-->

    <!--<div class="jumbotron text-center">
        <h1 style="text-align: center;">{{pagina.titulo}}</h1>

        <p>“Aguas Superficiales y Subterráneas: <br>
            Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

        <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

    </div>-->

    <section class="text-sm-left section-40 section-md-bottom-115">

        <div class="jumbotron text-center">
            <h1 style="text-align: center;">{{pagina.titulo}}</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <div class="container-fluid text-center bg-grey mapa-trelew">
            <h3>Conoce mas sobre la jornada</h3>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/49/sobre-la-jornada" target="_blank">
                        <span class="glyphicon glyphicon-ok logo-small"></span>
                        <h5>Sobre la Jornada</h5>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/46/condiciones-de-inscripcion" target="_blank">
                        <span class="glyphicon glyphicon-repeat logo-small"></span>
                        <h5>Inscripción</h5>
                        <!--<p>Lorem ipsum dolor sit amet..</p>-->
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/53/quienes-pueden-participar" target="_blank">
                        <span class="glyphicon glyphicon-info-sign logo-small"></span>
                        <h5>Quienes pueden participar</h5>
                    </a>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/54/expositores" target="_blank">
                        <span class="glyphicon glyphicon-user logo-small"></span>
                        <h5>Expositores</h5>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/47/areas-tematicas" target="_blank">
                        <span class="glyphicon glyphicon-edit logo-small"></span>
                        <h5>Áreas Temáticas</h5>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#">
                        <span class="glyphicon glyphicon-tasks logo-small"></span>
                        <h5>Cronograma de Actividades</h5>
                    </a>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/50/condiciones-de-presentacion-de-trabajos" target="_blank">
                        <span class="glyphicon glyphicon-list-alt logo-small"></span>
                        <h5>Condiciones de presentación de trabajos</h5>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/52/organizadores" target="_blank">
                        <span class="glyphicon glyphicon-wrench logo-small"></span>
                        <h5>Organizadores</h5>
                        <!---<p>Lorem ipsum dolor sit amet..</p>-->
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="">
                        <span class="glyphicon glyphicon-picture logo-small"></span>
                        <h5 style="color:#303030;">Galeria de Fotos</h5>
                    </a>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-4">
                    <a href="#">
                        <span class="glyphicon glyphicon-duplicate logo-small"></span>
                        <h5>Ponencias</h5>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://institutodelagua.chubut.gov.ar/es/59/auspiciantes">
                        <span class="glyphicon glyphicon-star logo-small"></span>
                        <h5>Auspiciantes</h5>
                    </a>
                </div>
            </div>
        </div>

        <br>

        <div class="jumbotron text-center">

            <h5 style="color: #ffffff; margin-top: 10px;">La Jornada Patagonica del Agua cuenta con el aval del ministerio de  
                Educación con la resolución n° 274/17, otorgando puntaje a docentes
                de las areas de Cs. Sociales y Naturales.</h5>

        </div>

        <div class="container-fluid mapa-trelew">
            <div class="row">
                <div class="col-sm-2">

                </div>

                <div class="col-sm-8">
                    <h3 class="texto-mapa">Sede del Evento</h3>
                    <br>
                    <h6 class="texto-mapa">Auditórium "Germán Sopeña", Museo Paleontológico Egidio Feruglio. Avda Fontana 140</h6>
                    <h6 class="texto-mapa">Edificio de aulas, Universidad Nacional de la Patagonia San Juan Bosco. 9 de Julio y Belgrano</h6>
                    <br>
                    <div class="embed-responsive embed-responsive-16by9" id="map"></div>
                </div>

                <div class="col-sm-2">

                </div>
            </div>
        </div>


        <div class="container">

            <h3 class="texto-mapa">Auspiciantes</h3> <br>

            <div class="row">
                <div class="col-sm-2">
                    <a href="http://www.cohife.org/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_cohife.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.hidroameghino.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_hasa.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="#">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_evarsa.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.hidroar.com/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_hidroar.jpg') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.aluar.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_aluar.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.orsep.gob.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_orsep.jpg') }}" class="thumbnail">

                    </a>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-sm-2">
                    <a href="http://www.ebisa.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_ebisa.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.chfutaleufu.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_hf.jpg') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                   <a href="http://www.patagoniabroker.com.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_broker.jpeg') }}" class="thumbnail">
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.mef.org.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_mef.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.trelew.gov.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_trelew.png') }}" class="thumbnail">

                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.epas.gov.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_epas.jpg') }}" class="thumbnail">

                    </a>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-sm-2">
                    <a href="http://www.unp.edu.ar/" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_unpsjb2.jpg') }}" class="thumbnail">
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.dpa.rionegro.gov.ar/index.php?catID=241" target="_blank">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/logo_dpa.jpeg') }}" class="thumbnail">

                    </a>
                </div>
                <!--<div class="col-sm-2">
                    <a href="#">
                        <img src="{{ asset( proyecto.nombre ~ '/images/auspiciantes/') }}" class="thumbnail">

                    </a>
                </div>-->

            </div>
        </div>

        <!--<h3 style="text-align: center;">Nuestros Auspiciantes</h3>-->
        <!--<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

            <div class="auspiciantes">

                <h3 style="text-align: center;">Nuestros Auspiciantes</h3>
                <!-- Indicators
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="http://www.cohife.org/" target="_blank">
                            <h4>Consejo Hídrico Federal<br>
                                <span style="font-style:normal;">COHIFE</span>
                                <!--<br>
                                <img class="logo-ipa" src="{{ asset( proyecto.nombre ~ '/images/cohife.png') }}">
                            </h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www4.tierradelfuego.gov.ar/" target="_blank">
                            <h4>Gobierno de la Provincia de Tierra del Fuego<br>
                                <span style="font-style:normal;"></span>
                            </h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://www.epas.gov.ar/" target="_blank">
                            <h4>Ente Provincial de Agua y Saneamiento<br>
                                <span style="font-style:normal;">EPAS</span>
                            </h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://dpa.gov.ar/" target="_blank">
                            <h4>Departamento Provinvial de aguas<br>
                                <span style="font-style:normal;">DPA</span>
                            </h4>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://www.santacruz.gov.ar/portal/" target="_blank">
                            <h4>Consejo Agrario Provincial<br>
                                <span style="font-style:normal;">Gobierno de Santa Cruz</span>
                            </h4>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Left and right controls
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>-->

    </section>

    <script type="text/javascript">

        var mapa;
        function iniciarMapa() {
            latitudYLongitud = {lat: -43.2489500, lng: -65.3050500}
            mapa = new google.maps.Map(document.getElementById('map'), {
            center: latitudYLongitud,
            zoom: 13
            });

            var marcadorUnpsjb = new google.maps.Marker({
                position: new google.maps.LatLng(-43.250762, -65.307835),
                label: 'Universidad',
                map: mapa
            });

            var marcadorMuseo = new google.maps.Marker({
                position: new google.maps.LatLng(-43.249455, -65.306780),
                label: 'Museo',
                map: mapa
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAprEY2OWunYwfpusKXfNWJNBd07QJjRgQ&callback=iniciarMapa"
    async defer></script>

{% endblock %}
