{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}


{% block bloque_contenido %}
    <section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">
      <div class="container">
        <h1>{{pagina.titulo}}</h1>

        <br>

        <p>

          El otorgamiento de un permiso de uso del agua está establecido en el Código de 
          Aguas de la provincia del Chubut, enmarcado en el concepto de ley, cuyo desconocimiento 
          no es argumento suficiente para excusarse acerca de su cumplimiento y normatización, 
          salvo aquellas excepciones contempladas en la misma Ley.<br>
          El Código de Aguas de la Provincia establece la necesidad de contar con un permiso 
          de uso de agua y establece las correspondientes multas por infringir dicho Código.<br>
          El IPA es el organismo que dispone este Estatuto, que establece al permiso de uso de 
          agua como una Resolución, la cual otorga el beneficio de utilizar el recurso natural 
          a cambio del cobro de un canon a los usuarios.<br> 
	        

		    </p>

  		<br>
  		<br>

      {% include 'APDIpaPaginasBundle:Fragmentos:botones_pua.html.twig' %}
       
        
      </div>
    </section>    
{% endblock %}


