{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

    <style type="text/css">

        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 50px;
        }

        body {

            color: #414042;
        }

        td {

            font-weight: bold;
        }

        a {

            color: #000000;
        }


    </style>

    <section class="text-sm-left section-40 section-md-bottom-115">
        <div class="container">
            <div class="row">
                <h3>Plan de gesti&oacute;n Sustentable de Agua Subterr&aacute;nea y Superficial en la Meseta Central</h3><br><br>
                <h5>GESTI&Oacute;N ACTUAL DEL RECURSO H&Iacute;DRICO</h5>

                <ul>
                    <li><strong>Marco legal y administrativo actual</strong></li>
                </ul>

                <p style="margin-left: 40px;">Se expone a continuaci&oacute;n de manera piramidal el marco de la legislaci&oacute;n aplicable, que sit&uacute;a en su c&uacute;spide a la Constituci&oacute;n Nacional, para luego efectuar un estudio pormenorizado de la normativa federal, en primer t&eacute;rmino, y provincial, en segundo t&eacute;rmino, con el objetivo de desentra&ntilde;ar su alcance y dar efectivo cumplimiento de las obligaciones legales all&iacute; contenidas, as&iacute; como identificar los derechos de los actores involucrados. Aqu&iacute; se describen los principales lineamientos normativos vigentes.</p>

                <ul>
                    <li><u>Normativa del orden federal</u></li>
                </ul>

                <ol style="list-style-type: lower-alpha; margin-left: 40px;">
                    <li>Constituci&oacute;n Nacional (CN): las prescripciones consagradas en la Constituci&oacute;n Nacional Argentina, fijan gen&eacute;ricamente las bases de todo el ordenamiento jur&iacute;dico nacional y local, distribuyendo la competencia entre la Naci&oacute;n y las Provincias. Es fundamental evaluar los preceptos constitucionales relevantes en el marco del PSG para su adecuada implementaci&oacute;n.</li>
                    <li>C&oacute;digo Civil y Comercial de la Naci&oacute;n (CCC): es vital tener en cuenta lo aqu&iacute; establecido, en lo relativo al dominio de los recursos naturales, ya que es &eacute;ste cuerpo normativo el que regula a nivel nacional, sumado a esto, existen ciertas consideraciones relacionadas a la tem&aacute;tica de pueblos originarios que deben ser tenidas en cuenta, principalmente en lo relacionado a la propiedad ind&iacute;genas y a los limites al ejercicio de los derechos individuales sobre los bienes.</li>
                    <li>Ley Nacional 15.675 &ldquo;General del Ambiente&rdquo; (LGN): esta norma es en concreto una norma sobre presupuestos m&iacute;nimos de protecci&oacute;n ambiental, y conforme lo dispuesto por la CN en su art. 41, es dictada por el Congreso Nacional y posee alcance para todo el territorio argentino. Otro punto relevante es la creaci&oacute;n del Consejo Federal del Medio Ambiente (COFEMA). &Eacute;ste es el encargado de la coordinaci&oacute;n&nbsp; de la pol&iacute;tica ambiental, entre el gobierno nacional y los gobiernos provinciales, tendientes al logro del desarrollo sustentable.</li>
                    <li>Ley Nacional 25.688 &ldquo;R&eacute;gimen de Gesti&oacute;n Ambiental de Aguas&rdquo; (RGAA): Conforme el art. 41 de la CN, el RGAA de esta Ley constituye la normativa espec&iacute;fica de presupuestos m&iacute;nimos para la preservaci&oacute;n de las aguas, su aprovechamiento y uso racional (art. 1). En base a lo expuesto en dicha ley en el marco del PGS, el Comit&eacute; de Cuenca tendr&aacute; la funci&oacute;n de asesorar a la autoridad competente sobre la autorizaci&oacute;n del uso del agua bajo su jurisdicci&oacute;n (art. 4)</li>
                    <li>Ley 26.438 &ldquo;Consejo H&iacute;drico Federal&rdquo; (COHIFE): Organismo creado por acuerdo entre el gobierno nacional y los gobiernos provinciales, siendo una persona jur&iacute;dica de derecho p&uacute;blico, que opera como instancia federal para la concertaci&oacute;n y coordinaci&oacute;n de la pol&iacute;tica h&iacute;drica federal y la compatibilizaci&oacute;n de las pol&iacute;ticas, legislaciones y gesti&oacute;n de las aguas de las respectivas jurisdicciones, respetando l dominio originario que sobre sus recursos h&iacute;dricos les corresponden a las provincias. El COHIFE fija los principios rectores de pol&iacute;tica h&iacute;drica nacional que regulan lo correspondiente al uso del recurso en sus m&aacute;s diversas manifestaciones, vinculadas a aspectos ambientales, institucionales, legales, econ&oacute;micos, sociales , relativos a la gesti&oacute;n y el manejo de los recursos h&iacute;dricos&nbsp; del pa&iacute;s. Mediante ello ha establecido la conformaci&oacute;n de una &uacute;nica autoridad del agua en cada jurisdicci&oacute;n (nacional y provinciales) que lleve adelante la gesti&oacute;n integrada de los recursos h&iacute;dricos. En la Provincia del Chubut, tal organismo es representado por el IPA, el cual se encargar&aacute; de llevar adelante la pol&iacute;tica h&iacute;drica provincial y nacional, as&iacute; como ser la autoridad de aplicaci&oacute;n en la materia en el territorio de la provincia.</li>
                    <li>Ley Nacional 23.302 de pol&iacute;tica ind&iacute;gena y apoyo a las comunidades abor&iacute;genes, consagra de inter&eacute;s nacional el apoyo, atenci&oacute;n, desarrollo, protecci&oacute;n y participaci&oacute;n plena de las comunidades originarias existentes en el pa&iacute;s, respetando su propios valores y modalidades.</li>
                    <li>Convenio 169 de la Organizaci&oacute;n Internacional del trabajo (OIT): en este convenio internacional se reafirma la postura que ha tomado el Estado Argentino de consagrar los derechos pertenecientes de las comunidades originarias. As&iacute; se establecen normas obligatorias para los estados en materia de posesi&oacute;n y propiedad de&nbsp; tierras, as&iacute; como normas de participaci&oacute;n de las poblaciones ind&iacute;genas en la administraci&oacute;n de los recursos naturales.</li>
                </ol>

                <ul>
                    <li><u>Normativas del orden provincial</u></li>
                </ul>

                <ol style="list-style-type: lower-alpha; margin-left: 40px;">
                    <li>Constituci&oacute;n de la Provincia de Chubut (CPCh): es necesario hacer principal enfoque en las cuestiones vinculadas en la publicidad de los actos de gobierno (art. 13), especialmente por la naturaleza del PGS y por la necesidad de que la gesti&oacute;n sustentable, as&iacute; como la conformaci&oacute;n y actuaci&oacute;n del CC, descanse sobre principios tan importantes como son la transparencia y la participaci&oacute;n ciudadana. De la misma norma provincial se desprende lo referente al manejo de las tierras fiscales y el dominio originario que ejerce el Estado Provincial ser los recursos naturales. El Estado es el responsable de preservar la integridad y diversidad natural y cultural del medio, resguardando su equilibrio y garantizando su protecci&oacute;n y mejoramiento en pos del desarrollo humano sin comprometer a las generaciones futuras. Conforme ello, dicta legislaci&oacute;n destinada a prevenir y controlar los factores d deterioro ambiental, impone las sanciones correspondientes y exige la reparaci&oacute;n de los da&ntilde;os.</li>
                    <li value="2">C&oacute;digo Ambiental de la Provincia del Chubut. Ley XI-N&ordm;35 (CAPCh): esta normativa provincial tiene como objetivo la preservaci&oacute;n, defensa y mejoramiento del ambiente de la Provincia, estableciendo los principios rectores del desarrollo sustentable, la &oacute;ptima calidad del ambiente complementando lo regulado en la LGA.</li>
                    <li value="3">C&oacute;digo de Aguas de&nbsp; la Provincia del Chubut (CA) XVII-N&ordm;53: este cuerpo normativo, regula todo lo relativo a las aguas jurisdiccionales de la provincia, complementando la normativa federal. La autoridad de aplicaci&oacute;n del CA posee facultades administrativas, normativas y el poder de polic&iacute;a sobre las aguas de dominio p&uacute;blico, sus causes y riberas y obras hidr&aacute;ulicas de cualquier naturaleza. Establece diferentes categor&iacute;as de las aguas, diferenciando aquellas que son del dominio y uso p&uacute;blico, de las que son del dominio privado, as&iacute; como los distintos usos que pueden hacerse del recurso en funci&oacute;n de su &nbsp;categor&iacute;a y destino. Esta normativa establece adem&aacute;s los requisitos para concesiones de uso del recurso en su jurisdicci&oacute;n, que variar&aacute;n en funci&oacute;n del uso, general, especial o particular del agua; de los usuarios, concesionarios, o permisionarios; de la calidad o categor&iacute;a del agua a utilizarse, as&iacute; como los procedimientos tendientes a autorizar los permisos de uso y concesiones.</li>
                    <li value="4">Ley XVII-N&ordm;88 de Pol&iacute;tica Hidr&aacute;ulica Provincial: La ley fija los principios espec&iacute;ficos de la pol&iacute;tica h&iacute;drica as&iacute; como los instrumentos para llevarla adelante. Uno de los puntos de mayor relevancia dentro de los instrumentos de la pol&iacute;tica h&iacute;drica provincial es la Evaluaci&oacute;n de impacto ambiental de las Obras H&iacute;dricas (art. 20). Esta ley crea el Sistema Provincial del Agua (SI.PRO.A), en virtud del cual se gestiona la Pol&iacute;tica H&iacute;drica provincial y sus instrumentos, que estar&aacute; integrado por tres organismos, el Instituto Provincial del Agua, los Comit&eacute;s de Cuenca y los Consorcios de Usuarios.</li>
                    <li value="5">Ley XVII-N&ordm;74 de Unidades de Gesti&oacute;n en las Cuencas Hidrogr&aacute;ficas: esta ley provincial regula la creaci&oacute;n y el funcionamiento de las unidades de gesti&oacute;n de las cuencas hidrogr&aacute;ficas de la Provincia del Chubut. As&iacute; mismo esta norma establece en el mismo art&iacute;culo, que se denominar&aacute; a las respectivas unidades de gesti&oacute;n como Comit&eacute; de Cuenca.</li>
                    <li value="6">Ley V-N&ordm;61: es la norma provincial que regula lo referido a los pueblos originarios en la jurisdicci&oacute;n territorial de la provincia.</li>
                </ol>

                <ul>
                    <li><strong>Uso del recurso</strong></li>
                </ul>

                <p style="margin-left: 40px;">Actualmente, el manejo del recurso en la Meseta Central es precario, ya que no existe un control sobre las reservas que existen naturalmente, lo que se explota y las necesidades de los pobladores y actores de la regi&oacute;n, tanto a nivel de las comunas como de la parte privada.</p>

                <ul>
                    <li><u>Disponibilidad de agua y aprovechamiento</u></li>
                </ul>

                <p style="margin-left: 40px;">La mayor parte de la regi&oacute;n de la Meseta Central no cuenta con la informaci&oacute;n necesaria para poder caracterizar la hidrogeolog&iacute;a presente. A ra&iacute;z de esto, cuantificar un volumen de agua existente es imposible, exceptuando el caso de las cuencas de Gastre y Sacanana, donde se realiz&oacute; el estudio &ldquo;Mapa Hidrogeol&oacute;gico de la Provincia del Chubut &ndash; cuenca Gastre Y Sacanana &ndash; Fase I &ndash; Etapa 2&rdquo;, realizado por Aguartex en Julio de 2014 para el IPA.</p>

                <p style="margin-left: 40px;">Teniendo en cuenta que la regi&oacute;n estudiada se caracteriza por la industria ganadera, con una participaci&oacute;n pr&aacute;cticamente nula de la agricultura, se desprende que el principal uso del agua en la Meseta Central corresponde al consumo para bebida humana y para ganader&iacute;a.</p>

                <h5><strong>PLAN DE GESTION SUSTENTABLE DEL RECURSO H&Iacute;DRICO</strong></h5>

                <p>Para lograr una adecuada gesti&oacute;n de los recursos h&iacute;dricos en la cuenca de la Meseta Central, se propone la implementaci&oacute;n de un plan de gesti&oacute;n sust&eacute;ntale, elaborado bajo los lineamientos impuestos por las normativas nacionales y provinciales en materia del uso de agua superficial y subterr&aacute;nea.</p>

                <ul>
                    <li><strong>Objetivos</strong></li>
                </ul>

                <p style="margin-left: 40px;">El objetivo del PGS, es formular un conjunto de recomendaciones, proyectos y acciones que permitan resolver los principales problemas identificados en la Meseta Central. Dicha formulaci&oacute;n se fundamenta en el marco de la gesti&oacute;n integrada de los recursos h&iacute;dricos y sus principios de sustentabilidad, eficacia y equidad; y busca promover la participaci&oacute;n actica de todas las partes interesadas.</p>

                <ul>
                    <li><u>Instrumentos de gesti&oacute;n</u></li>
                </ul>

                <p style="margin-left: 40px;">Se definieron cinco ejes principales de abordaje que contribuyen a la resoluci&oacute;n de los principales problemas identificados, que se mocionan a continuaci&oacute;n:</p>

                <ul style="list-style-type:circle;">
                    <li><u>Garant&iacute;as del sistema de abastecimiento poblacional</u> (cantidad, calidad). A partir del relevamiento de campo realizado por la empresa Hidroar S.A y con la informaci&oacute;n recabada de los pobladores y los usuario principales del recurso, surgen claramente que una de las problem&aacute;ticas m&aacute;s importantes de la Meseta se relaciona con elabastecimiento poblacional Para afrontar estas problem&aacute;ticas se definieron 3 l&iacute;neas de acci&oacute;n principales:

                    <ul>
                        <li>Fortalecer la presencia del IPA en el territorio.</li>
                        <li>Fortalecer la presencia de Servicios P&uacute;blicos.</li>
                        <li>Promover la articulaci&oacute;n institucional entre Servicios P&uacute;blicos e IPA</li>
                    </ul>
                    </li>
                    <li><u>Protecci&oacute;n de la calidad del recurso</u>&nbsp; (controlar los procesos de contaminaci&oacute;n o deterioro del recurso). Las L&iacute;neas de Acci&oacute;n establecidas para este eje son:
                    <ul>
                        <li>Articulaci&oacute;n institucional IPA &ndash; Ambiente &ndash; Servicios P&uacute;blicos</li>
                        <li>Promover la construcci&oacute;n de sistemas de saneamiento adecuados</li>
                        <li>Fortalecer los programas de control y fiscalizaci&oacute;n ambiental para la prevenci&oacute;n y manejo de la contaminaci&oacute;n del recurso h&iacute;drico.</li>
                        <li>Lineamientos de protecci&oacute;n y prevenci&oacute;n.</li>
                        <li>Impulsar la ejecuci&oacute;n de proyectos que promuevan la reutilizaci&oacute;n de aguas residuales.</li>
                    </ul>
                    </li>
                    <li><u>Fortalecimiento institucional-legal.&nbsp;</u>Las L&iacute;neas de Acci&oacute;n establecidas para este eje son:
                    <ul>
                        <li>Constituci&oacute;n de Organismos de Cuenca.</li>
                        <li>Constituir Asociaciones de&nbsp; Usuarios en el marco de la Gobernanza.</li>
                        <li>Fomentar el compromiso de organismos de gobierno y usuarios con la gesti&oacute;n del recurso h&iacute;drico.</li>
                        <li>Impulsar una gesti&oacute;n descentralizada y participativa.</li>
                        <li>Desarrollar programas de capacitaci&oacute;n de recursos humanos en las instituciones, organismos de cuenta.</li>
                        <li>Dotar d equipamiento a las instituciones y organismos de cuenca.</li>
                    </ul>
                    </li>
                    <li><u>Contribuci&oacute;n al desarrollo socio-econ&oacute;mico de la regi&oacute;n y sustentabilidad de los sistemas productivos a largo plazo.</u>
                    <ul>
                        <li>Desarrollar estudios para conocer la oferta y la demanda.</li>
                        <li>Implementar Monitoreos sistem&aacute;ticos del recurso h&iacute;drico.</li>
                        <li>Impulsar la ejecuci&oacute;n de proyectos econ&oacute;micos que promuevan el uso del agua en todas las etapas del ciclo hidrol&oacute;gico.</li>
                        <li>Establecer el valor econ&oacute;mico del agua.</li>
                    </ul>
                    </li>
                    <li><u>Concientizaci&oacute;n, Comunicaci&oacute;n y Divulgaci&oacute;n de la informaci&oacute;n.</u>&nbsp;Las L&iacute;neas de Acci&oacute;n establecidas para este eje son:
                    <ul>
                        <li>Desarrollar un proceso continuo y sistem&aacute;tico de educaci&oacute;n ambiental, formal, a todo nivel, que contribuya a la conservaci&oacute;n y uso sostenible del recurso h&iacute;drico.</li>
                        <li>Desarrollar sistemas de informaci&oacute;n oportunos, confiables y asequibles, que favorezcan una alta capacidad de negociaci&oacute;n y concentraci&oacute;n entre los diferentes actores sociales.</li>
                        <li>Ejecutar programas de sensibilizaci&oacute;n del uso del recurso h&iacute;drico.</li>
                    </ul>
                    </li>
                </ul>

                <p style="margin-left:72.0pt;">&nbsp;</p>

                <ul>
                    <li><strong>Marco legal para la creaci&oacute;n del comit&eacute; de cuenca de la meseta central del&nbsp; Chubut</strong></li>
                </ul>

                <p style="margin-left: 40px;">De acuerdo a la ley XVII-74, los Comit&eacute;s de Cuenca tendr&aacute;n la atribuci&oacute;n de conformar sus propios &oacute;rganos de gobierno que &ldquo;aseguren la participaci&oacute;n de las comunidades, los sectores privados y los gobiernos comunales y provinciales&rdquo; (art. 4 inc. A), proponiendo al Poder Ejecutivo Provincial su propio estatuto, en acuerdo con la Constituci&oacute;n Provincial y el C&oacute;digo de Aguas, el cual ser&aacute; ratificado por ley provincial (art. 4 inc. B).</p>

                <p style="margin-left: 40px;">Los Comit&eacute;s de Cuenca, tendr&aacute;n su denominaci&oacute;n conforme a las estipulaciones legales (Ley XVII-74) y su reglamentaci&oacute;n, y estatuto se definir&aacute;n sus objetivos, capacidad y domicilio. Los mismos gozaran de personer&iacute;a jur&iacute;dica para el cumplimiento de sus objetivos, con capacidad para actuar en el &aacute;mbito del derecho p&uacute;blico y privado.</p>

                <ul style="list-style-type:circle;">
                    <li><u>Conformaci&oacute;n del Comit&eacute; de Cuenca &ndash; CC</u></li>
                </ul>

                <ul style="list-style-type: circle; margin-left: 40px;">
                    <li>Comit&eacute; Ejecutivo: Sera el encargado de la administraci&oacute;n de la Cuenca y ser&aacute; el &oacute;rgano ejecutor del PROGRAMA DE APROVECHAMIENTO, DISTRIBUCI&Oacute;N, PROTECCI&Oacute;N y MEJORAMIENTO DEL RECURSO H&Iacute;DRICO.</li>
                    <li>Consejo de Gobierno: Adopta medidas de conducci&oacute;n al logro de los objetivos definidos en el art&iacute;culo 3&ordm; de la Ley XVII-74, aprueba el reglamento interno y opina sobre el PROGRAMA DE APROVECHAMIENTO, DISTRIBUCI&Oacute;N, PROTECCI&Oacute;N y MEJORAMIENTO DEL RECURSO H&Iacute;DRICO propuesto por el Comit&eacute; Ejecutivo, el cual puede ser plurianual y se encarga de auditar al Comit&eacute; Ejecutivo. Los miembros del Consejo de Gobierno act&uacute;an As Honorem y no tienen ninguna relaci&oacute;n laboral con el CC.</li>
                </ul>

                <ul style="list-style-type: circle; margin-left: 40px;">
                    <li>Evaluaci&oacute;n de los actores no gubernamentales que integrar&iacute;an el CC</li>
                </ul>

                <p style="margin-left: 80px;">Asociaci&oacute;n de Ganaderos de Gastre y Cooperativa Lonco Trapial.</p>

                <p style="margin-left: 80px;">Asociaci&oacute;n de Productores Minifundistas y de la Agricultura Familiar de Gan Gan.</p>

                <p style="margin-left: 80px;">Asociaci&oacute;n de Productores de M&aacute;rmol.</p>

                <p style="margin-left: 80px;">Centro de Desarrollo Productivo de Telsen.</p>

                <p style="margin-left: 80px;">Grupo de Productores de Telsen.</p>

                <p style="margin-left: 80px;">Asociaci&oacute;n de productores de masetas intermedias.</p>

                <p style="margin-left: 80px;">Canteras de &aacute;ridos, p&oacute;rfidos y de arenas, Proyecto navidad, CNEA, CAMIC, C&aacute;mara de Proveedores mineros de Chubut, INTA, CENPAT-CONICET, Universidad de la Patagonia.</p>

                <p style="margin-left: 80px;">Comunidades Originarias: Laguna Fr&iacute;a, El Puntudo, Mallin Del Los Cual, Los Pino, Blancuntre yala Laubat, Traquetren, Lagunida Salada, Cerro Bayo, Gorro Frigio, Sierra Rosada y El Escorial.</p>
            </div>
            <div class="row">

                <div class="col-md-4 col-md-offset-1">
                    <div class="thumbnail">
                        <a target="_blank" href="http://localhost/institutodelagua.chubut.gov.ar/public_html/Ipa/images/meseta_central/mapa_1.png">
                            <img src="http://localhost/institutodelagua.chubut.gov.ar/public_html/Ipa/images/meseta_central/mapa_1.png" data-toggle="tooltip" data-placement="top" title="Haga click en la imagen para ver"> 
                        </a>
                        <div class="caption text-center">
                          <h5>Ubicaci&oacute;n general</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-2">
                    <div class="thumbnail">
                        <a target="_blank" href="http://localhost/institutodelagua.chubut.gov.ar/public_html/Ipa/images/meseta_central/mapa_2.png">
                            <img src="http://localhost/institutodelagua.chubut.gov.ar/public_html/Ipa/images/meseta_central/mapa_2.png" data-toggle="tooltip" data-placement="top" title="Haga click en la imagen para ver">
                        </a> 
                        <div class="caption text-center">
                          <h5>Hidrolog&iacute;a</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}