{% extends "APDSaquitoPaginasBundle:Templates:layout.html.twig" %}
{% block bloque_ogimage %}{{ asset('Saquito/images/apd-isologo.png') }}{% endblock %}

{% block bloque_contenido %}

    {{ render (controller('APDSaquitoPaginasBundle:Sliders:renderizar')) }}
    {% include 'APDSaquitoMainBundle:Buscador:_formulario_de_busqueda.html.twig' with {'categoria': 'Institucional'} %}
    {{ include ('APDSaquitoPaginasBundle:Templates:_huella_hidrica.html.twig') }}
    {{ include ('APDIpaNoticiasBundle:Noticias:_portada_lista.html.twig') }}
    {{ include ('APDSaquitoPaginasBundle:Templates:_parallax.html.twig') }}
    {{ render (controller('APDSaquitoPaginasBundle:Institutional:renderizar')) }}


{% endblock %}
