{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

	<style type="text/css">


	</style>


	<section class="text-sm-left section-40 section-md-bottom-115">
		

		<div class="container-fluid">

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:;" onclick="mostrarPregunta1()">
				<h6>¿Quiénes deben solicitar un permiso de uso de aguas en el instituto provincial de aguas?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>
			</a>

			<div class="container-fluid" id="pregunta1" style="display: none;">

				<h6>Las personas físicas o jurídicas que están por utilizar o se 
					encuentran utilizando, agua del cauce de ríos, arroyos y aguas 
					subterráneas o canales deben solicitar el permiso de uso de agua 
					en acuerdo al código de aguas de la provincia del Chubut. 
				</h6>

			</div>

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:" onclick="mostrarPregunta2()">

				<h6>¿Dónde puedo saber que documentación necesito presentar?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta2" style="display: none;">

				<h6>En la web del IPA (http://institutodelagua.chubut.gov.ar) se 
					detalla la documentación que se debe presentar, en función del 
					uso que quiera dar al agua y si es persona física, jurídica u 
					organismo público.
				</h6>

			</div>


			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->



			<a href="javascript:" onclick="mostrarPregunta3()">

				<h6>¿Qué es y cómo se realizan los informes agronómicos?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta3" style="display: none;">

				<h6>
					Estos informes deben ser realizados por profesional habilitado, 
					quienes en el informe constatan hectáreas a utilizarse para el 
					uso del agua. Estos informes se inspeccionan por el personal del 
					Instituto provincial del Agua posteriormente.
				</h6>

			</div>


			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:" onclick="mostrarPregunta4()">

				<h6>¿A dónde debo presentar ésta documentación?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta4" style="display: none;">

				<h6>
					La documentación pude presentarse en el Instituto Provincial 
					del agua, sito en calle Jose Rogers 643 (Rawson-Chubut), en 
					las delegaciones del IPA de las localidades de Sarmiento, 
					Trevelin o Lago Puelo o se entrega a un inspector del IPA.
				</h6>

			</div>

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:" onclick="mostrarPregunta5()">

				<h6>¿Qué se me otorga al realizar este trámite?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta5" style="display: none;">

				<h6>
					Desde el Instituto Provincial del Agua se elabora un expediente, 
					que luego de ser aprobado  mediante Resolución. El IPA otorga al 
					usuario el Permiso para utilizar aguas según lo declarado en el 
					formulario.

				</h6>

			</div>

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:" onclick="mostrarPregunta6()">

				<h6>¿Necesito Renovar este permiso?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta6" style="display: none;">

				<h6>

					Si se necesita renovar, los permisos en su mayoría tienen una 
					duración de 5 años después de cumplido ese plazo se necesita renovación.

				</h6>

			</div>

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:" onclick="mostrarPregunta7()">

				<h6>¿Dónde se realiza la elaboración de este expediente?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta7" style="display: none;">

				<h6>
					El expediente se crea en una de las Direcciones del Instituto 
					Provincial del Agua más específicamente en la dirección de 
					Aguas, donde entre una de sus tareas se encarga de la creación 
					y el control de expedientes.

				</h6>

			</div>

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:" onclick="mostrarPregunta8()">

				<h6>¿Qué valor tiene el canon de agua?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta8" style="display: none;">

				<h6>
					Se cobra en función de las Hectáreas de riego, o los metros 
					cúbicos utilizados. Para usos Industriales, Pecuarios por ejemplo 
					se utiliza el Modulo por Metro cubico consumido. Otro caso es el 
					usos de riego privado como ser jardines, piletas, usos agrícolas, 
					sistematización de mallines, usos terapéuticos, piletas y balnearios 
					e instalaciones turísticas en estos casos se utiliza el Modulo por 
					año, por Hectárea. Un modulo equivale al precio del litro de Euro Diesel 
					en boca de expendio del Automóvil Club Argentino.

				</h6>

			</div>

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->

			<a href="javascript:" onclick="mostrarPregunta9()">

				<h6>¿Donde se puede abonar el canon?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta9" style="display: none;">

				<h6>
					La dirección general de rentas es el organismo que se encarga 
					de recibir el valor del canon de agua, sito esta dirección en 
					calle Alejandro Maiz 350 (Rawson – Chubut)

				</h6>

			</div>

			<!-- ///////////////////////////////////////////////////////////////////////////////////// -->


			<a href="javascript:" onclick="mostrarPregunta10()">

				<h6>¿El IPA provee el agua a las ciudades?
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</h6>

			</a>

			<div class="container-fluid" id="pregunta10" style="display: none;">

				<h6>

					NO el IPA se encarga de administrar el recurso que se encuentra 
					en su cauce natural, las cooperativas son las responsables del 
					consumo en las ciudades. 

				</h6>

			</div>



		</div>

		


	</section>

	<script type="text/javascript">

		function mostrarPregunta1() {

    		//$("#documentacion").show();

    		var pregunta1 = document.getElementById('pregunta1');
    		if (pregunta1.style.display == 'none') {
        		pregunta1.style.display = 'block';
    		} else {
        		pregunta1.style.display = 'none';
    		}

    	}

    	function mostrarPregunta2() {

    		var pregunta2 = document.getElementById('pregunta2');
    		if (pregunta2.style.display == 'none') {
        		pregunta2.style.display = 'block';
    		} else {
        		pregunta2.style.display = 'none';
    		}
    	}

    	function mostrarPregunta3() {

    		var pregunta3 = document.getElementById('pregunta3');
    		if (pregunta3.style.display == 'none') {
        		pregunta3.style.display = 'block';
    		} else {
        		pregunta3.style.display = 'none';
    		}
    	}

    	function mostrarPregunta4() {

    		var pregunta4 = document.getElementById('pregunta4');
    		if (pregunta4.style.display == 'none') {
        		pregunta4.style.display = 'block';
    		} else {
        		pregunta4.style.display = 'none';
    		}
    	}

    	function mostrarPregunta5() {

    		var pregunta5 = document.getElementById('pregunta5');
    		if (pregunta5.style.display == 'none') {
        		pregunta5.style.display = 'block';
    		} else {
        		pregunta5.style.display = 'none';
    		}
    	}

    	function mostrarPregunta6() {

    		var pregunta6 = document.getElementById('pregunta6');
    		if (pregunta6.style.display == 'none') {
        		pregunta6.style.display = 'block';
    		} else {
        		pregunta6.style.display = 'none';
    		}
    	}

    	function mostrarPregunta7() {

    		var pregunta7 = document.getElementById('pregunta7');
    		if (pregunta7.style.display == 'none') {
        		pregunta7.style.display = 'block';
    		} else {
        		pregunta7.style.display = 'none';
    		}
    	}

    	function mostrarPregunta8() {

    		var pregunta8 = document.getElementById('pregunta8');
    		if (pregunta8.style.display == 'none') {
        		pregunta8.style.display = 'block';
    		} else {
        		pregunta8.style.display = 'none';
    		}
    	}

    	function mostrarPregunta9() {

    		var pregunta9 = document.getElementById('pregunta9');
    		if (pregunta9.style.display == 'none') {
        		pregunta9.style.display = 'block';
    		} else {
        		pregunta9.style.display = 'none';
    		}
    	}

    	function mostrarPregunta10() {

    		var pregunta10 = document.getElementById('pregunta10');
    		if (pregunta10.style.display == 'none') {
        		pregunta10.style.display = 'block';
    		} else {
        		pregunta10.style.display = 'none';
    		}
    	}

	</script>

{% endblock %}