{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

	<style type="text/css">

        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;
        }

        ul {

            padding: 30px;
            list-style-type: disc;
        }

    </style>

	<section class="text-sm-left section-40 section-md-bottom-115">

		<div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">Condiciones de presentación de trabajos</h1>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-1 col-xs-12">

                </div>

                <div class="col-sm-10 col-xs-12">

                	<h5><strong>Fechas:</strong></h5>

                    <h6>15/09: Entrega de Resumen</h6>
                    <h6>15/10: Entrega de Trabajos Completos</h6>

                    <h6>Los resúmenes y trabajos completos se deben enviar al e-mail: ipaeducacionchubut@gmail.com</h6>

                    <hr>

                    <h5 style="margin-top: 7px;"><strong>Resúmenes</strong></h5>

                    <h6>
                        Primer renglón: Título del trabajo en mayúscula. <br>
                        Segundo renglón: Nombre de los autores.<br>
                        Tercer renglón: Nombre de la Institución.<br>
                        Cuarto renglón: e-mails.<br>
                        Cantidad de palabras: 250.<br>
                        Fuente:<br>
                        - Titulo: Arial, 12 puntos, negrita.<br>
                        - Nombre de los Autores, Nombre de la Institución, 
                            Correo Electrónico y nivel educativo: Arial, 10 
                            puntos, negrita.<br>

                        Margenes: superior: 2,5 cm ; inferior: 2,5 cm ; izquierdo: 3 cm ; derecho: 2,5 cm.<br>
                        Texto justificado<br>
                        Sin sangría<br>
                        Interlineado: simple, anterior y posterior 3 puntos.<br>
                        Procesador de texto: Microsoft Word<br> <br>

                        <strong>En el resumen se debe señalar claramente el marco teórico de referencia, los objetivos 
                        y la metodología utilizada.</strong>
                    </h6>

                    <hr>

                    <h5 style="margin-top: 7px;"><strong>Trabajos Completos</strong></h5>

                    <h6>

                        a) El trabajo completo tendrá una extensión máxima de 15 páginas, tamaña A-4, incluyendo 
                        referencias, bibliografía, cuadros, gráficos y mapas. Letra Arial cuerpo 11, con márgenes 
                        superior,  inferior y derecho de 2,5 cm, izquierdo de 3 cm y numeradas en margen inferior 
                        al centro.<br> <br>

                        b) Se solicita utilizar Word como procesador de texto y que los cuadros o gráficos estén 
                        hechos en lo posible dentro de dicho procesador o realizados en Excel e insertados en imagen 
                        jpg.<br> <br>

                        c) La primera página del documento deberá incluir: -título del trabajo y eje temático de 
                        pertenencia y, con asterisco simple y a pie de página, cualquier otra aclaración (agradecimientos, 
                        colaboraciones, etc.); -nombre/s completo/s del auto/es/as y mediante doble asterisco y a pie de 
                        página se consignará la institución de pertenencia. Los pié de página se realizarán en letra Arial 
                        cuerpo 10.<br> <br>

                        d) Se solicita que las notas vayan al final de página y que se utilicen los sistemas de ordenamiento 
                        y numeración automática de los procesadores de texto. Se utilizará letra Arial cuerpo 10.<br> <br>


                        e) En el texto, las referencias a autores citados deberán colocarse entre paréntesis, consignando sólo 
                        apellido, año de edición y página. En caso de un mismo autor y un mismo año se identificarán con "a", 
                        "b", etc. Por ejemplo (Santos, 2003b:55).<br> <br>

                        f) Las referencias bibliográficas responderán a las normas APA: 
                        http://www2.uned.es/simposioenvejecimientoactivo/documentos/Normas%20APA.pdf <br> <br>

                        <strong>NOTA: los resúmenes y trabajos completos que no respeten las normas explicitadas anteriormente,
                        no serán considerados para la evaluación por los coordinadores y los evaluadores de los respectivos 
                        ejes temáticos del congreso.</strong> 

                    </h6>

                </div>

                <div class="col-sm-1 col-xs-12">

                </div>

            </div>

        </div>

	</section>

{% endblock %}