{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

    <style type="text/css">

        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;
        }

        .formulario {

            width: 100%;
        }

    </style>

    <section class="text-sm-left section-40 section-md-bottom-115">

        <div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">Quienes pueden participar</h1>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-1 col-xs-12">

                </div>

                <div class="col-sm-10 col-xs-12">

                    <h6>Ingenieros, Geólogos, Geógrafos, Planificadores, Urbanistas, 
                        Ecólogos, Sociólogos, Politólogos, Historiadores, Docentes de 
                        nivel secundario y universitario, Estudiantes Universitarios, 
                        Investigadores, Graduados de 
                        universidades nacionales y extranjeras, Funcionarios públicos y 
                        Miembros de sociedades civiles.
                    </h6>    

                </div>

                <div class="col-sm-1 col-xs-12">

                </div>

            </div>

        </div>
    </section>    
{% endblock %}