{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}

{% block bloque_contenido %}

	<style type="text/css">

        .jumbotron {
            background-color: #44B7E9;
            color: #fff;
            /*padding: 100px 25px;*/
            font-family: Montserrat, sans-serif;
        }

        .titulo {

            font-family: Montserrat, sans-serif;
        }

    </style>

	<section class="text-sm-left section-40 section-md-bottom-115">

		<div class="jumbotron text-center">
            <h1 style="text-align: center;">Jornada Patagónica del Agua</h1>

            <p>“Aguas Superficiales y Subterráneas: <br>
                Un recurso vital, Una responsabilidad de todos en Patagonia”</p>

            <p>2, 3 y 4 de Noviembre del 2017 - Trelew Chubut</p>

        </div>

        <h1 class="titulo" style="text-align: center;">Sobre la Jornada</h1>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-1 col-xs-12">

                </div>

                <div class="col-sm-10 col-xs-12">

                	<h6>

                        La Jornada Patagónica del Agua es una iniciativa del Instituto 
                        Provincial del Agua (IPA) de la provincia de Chubut. <br>
                        Dicha iniciativa surge a partir de la necesidad de reunir a los 
                        responsables de Políticas y Recursos Hídricos de las provincias de 
                        Chubut, Neuquén, Rio Negro, Santa Cruz y Tierra del Fuego. <br>
                        Bajo el lema: “Aguas Superficiales y Subterráneas: Un recurso vital, 
                        una responsabilidad de todos en Patagonia” generaremos un espacio de
                         debate y análisis de la situación hídrica que atraviesa nuestra región 
                        y las diferentes formas de abordaje y posibles soluciones.

                	</h6>

                    <h5><strong>Objetivos:</strong></h5>

                    <h6>
                        Académicos <br> <br>

                        - Generar un ámbito de exposición y discusión académica profesional 
                        producto del intercambio de experiencias e investigaciones sobre recursos 
                        hídricos en la Región Patagónica. <br>

                        
                        - Fortalecer los vínculos entre profesionales abocados a la investigación, la enseñanza y transferencia a la comunidad sobre el capital hídrico de la Región Patagónica.
                    </h6>

                    <h6>
                        Institucionales <br><br>

                        - Concretar el encuentro de los miembros del Consejo Hídrico Patagónico (COHIPA). <br>
                        - Contribuir con insumos teórico metodológicos al ámbito de las políticas públicas y la gestión de los Recursos Hídricos de la Patagonia.
                    </h6>

                    <h6>
                        Socio - Culturales <br><br>

                        - Establecer líneas de trabajo concretas para profundizar la promoción y educación sobre las prácticas correctas del uso del agua. <br>
                        - Analizar el rol de la educación y de los organismos competentes en la materia en la formación de ciudadanos responsables y su contribución para una cultura del agua como recurso vital.

                    </h6>
                    

                </div>

                <div class="col-sm-1 col-xs-12">

                </div>

            </div>

        </div>

	</section>

{% endblock %}