{% if (institutionals is not empty) %}
    <div class="range range-no-gutter text-center">
        {% for institutional in institutionals %}
            <div class="cell-xs-12 cell-sm-4 cell-md-2">
                <div class="product-wrap border-right">
                    {% if ( institutional.acronym is not empty ) %}
                        <a class="h5 text-regular">{{ institutional.acronym }}</a>
                        <time>{{ institutional.name | raw }}</time>
                    {% else %}
                        <a class="h5 text-regular">{{ institutional.name | raw }}</a>
                     {% endif %}
                    <a href="{{ institutional.url }}" class="btn btn-white btn-sm btn-icon btn-icon-right" target="_blank">
                        <span>{{ institutional.button }}</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
