{% if pageCount > 1 %}
    <ul class="pagination text-center">
    {% if first is defined and current != first %}
        <li ><a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a></li>
    {% endif %}

    {% if previous is defined %}
        <li ><a class="hidden-xs" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li ><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}.</a></li>
        {% else %}
            <li class="active"><a>{{ page }}.</a></li>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
        <li ><a class="hidden-xs" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a></li>
    {% endif %}

    {% if last is defined and current != last %}
        <li ><a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a></li>
    {% endif %}
    </ul>
{% endif %}

