
{% if (sliders is not empty) %}
    <div class="swiper-container swiper-slider">
        <div class="swiper-wrapper">
            {% for slide in sliders %}
                <div data-slide-bg="{{ asset(slide.verslyder) }}" class="swiper-slide">
                    <div class="swiper-slide-caption">
                        <div data-caption-animate="fadeInUp" class="container text-left">
                            <div class="row">
                                <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
                                    {{ slide.descripcion | raw }}
                                    {% if ( slide.link ) %}
                                        <a href="{{ slide.link }}" class="btn btn-white btn-sm btn-icon btn-icon-right offset-top-40 offset-top-slider-version-2"><span>{{ slide.button }}</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>

{% endif %}

<style media="screen">
@media (min-width: 1200px)
{
    .offset-top-slider-version-2 {
        margin-top: 0px !important;
    }
    .swiper-slider {
        padding-top: 180px;
    }
}
@media (min-width: 768px) and (max-width: 1199px)
{
    .swiper-slider {
        padding-top: 220px;
    }
}
@media (max-width: 768px)
{
    .swiper-slider {
        padding-top: 30px;
    }
}
@media (max-width: 576px)
{
    .swiper-slider {
        padding-top: 0px;
    }
}

@media (max-width: 991px)
{
    .offset-top-slider-version-2 {
        margin-top: 50px !important;
    }
}
</style>
