<!DOCTYPE html>
<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
		
		<style>

			.button {
			  border-radius: 8px;
			  background-color: #00ac7c;
			  border: none;
			  color: #FFFFFF;
			  /*text-align: center;*/
			  font-size: 28px;
			  padding: 20px;
			  width: 253px; /*253*/
			  transition: all 0.5s;
			  cursor: pointer;
			  /*margin: 5px;*/
			}

			.button span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
			}

			.button span:after {
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;
			}

			.button:hover span {
			  padding-right: 25px;
			}

			.button:hover span:after {
			  opacity: 1;
			  right: 0;
			}
		</style>
	</head>
	<body>

		<div class="container-fluid">
			
			<div class="row">

				<div class="col-xs-12 col-md-4">

				    <a href="http://localhost/institutodelagua.chubut.gov.ar/public_html/app_dev.php/es/42/procedimiento">

				    	<button class="button">

					    	<h3 class="glyphicon glyphicon-align-left" aria-hidden="true"></h3>

				        	<br>

				        	<span>Procedimiento</span> 
				    		
				    	</button>			        
				    </a>
				</div>

				<div class="col-xs-12 col-md-4">

					<a href="http://localhost/institutodelagua.chubut.gov.ar/public_html/app_dev.php/es/52/documentacion-necesaria">
					    <button class="button">

					    	<h3 class="glyphicon glyphicon-paperclip" aria-hidden="true"></h3>

					    	<span>Documentacion Necesaria</span> 

					    </button>
					</a>
			    </div>

				<div class="col-xs-12 col-md-4">

					<a href="https://www.google.com.ar/">
					    <button class="button">

					    	<h3 class="glyphicon glyphicon-question-sign" aria-hidden="true"></h3>

					    	<span>Preguntas Frecuentes</span> 

					    </button>
					</a>
			    </div>
		   </div>
		</div>
	</body>
</html>
