<div class="col-xs-12 col-sm-12 col-md-4 text-sm-left offset-top-40 offset-md-top-0">
    <article class="thumbnail">
        <div class="img-wrap-variant">
            {% if articulo.fotoportada == 1 %}
                <img src="{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}" alt="{{ articulo.titulo }}">
            {% else %}
                <img src="{{ asset( proyecto.nombre ~ '/hot/noticias/vacio.jpg') }}" alt="{{ articulo.titulo }}">
            {% endif %}
        </div>
        <div class="caption">
            <h5 class="title-varient" ><a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}">{{ articulo.titulo }}</a></h5>
            <span class="h6">{{ articulo.fecha |  date('d/m/Y') }}</span>
            <p>{{ articulo.copete | truncate(130) }}</p>
            <a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}" class="btn-link btn-link-primary">ver artículo completo</a>
        </div>
    </article>
</div>
