<!--section 6-->
<section class="section-55 section-sm-bottom-125 text-center">
    <div class="container">
        <div class="heading-variant-4">
            <h1>Novedades</h1>
        </div>
        <div class="row offset-top-40">
            {% for articulo in noticias|slice(0, 6) %}

                {% if (articulo.portada)%}
                    {{ include ('APDIpaNoticiasBundle:Noticias:_portada_item.html.twig') }}
                {% endif %}
            {% endfor %}
            <div class="col-xs-12 footer-variant-1 offset-top-50 footer-variant-2">
                <div class="footer-inner">
                    <a href="{{ path('saquito_noticias_listar') }}" class="btn btn-white btn-sm btn-icon btn-icon-right">
                        <span>ver más artículos</span> &nbsp; <span class="icon icon-xs material-icons-keyboard_arrow_right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
