{% extends "APDSaquitoPaginasBundle:Templates:layout.html.twig" %}
{% block bloque_contenido %} 
    <main>
        <section class="well-4">
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                      <li><a href="{{ path('saquito_paginas_bienvenidos')}}">Portada</a></li>
                      <li class="active"><i><b>Novedades</b></i></li>
                    </ol>            
                </div>                
                {% for articulo in pagination %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            {% if articulo.fotoportada == 1 %}
                                <img class="img-responsive" src="{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}" alt=""> 
                            {% else %}
                                <img class="img-responsive" src="{{ asset( proyecto.nombre ~ '/hot/noticias/vacio.jpg') }}" alt="">  
                            {% endif %} 
                        </div>
                        <div class="col-sm-8 col-md-8">
                                <h3><span class="text-primary">{{ articulo.titulo }}</span> </h3>
                                <h4><span class="normal">{{ articulo.fecha |  date('d/m/Y') }}</span> </h4>
                                
                                <p>{{ articulo.copete }}<br>
                                    <a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}" class="btn btn-md btn-primary">Leer noticia <span class="insider"></span></a>
                                </p>
                        </div>
                    </div>                    

                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
                <br>
        </section>        
    </main>
{% endblock %}
