{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}
{% block bloque_contenido %} 
    <section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">
            <div class="container">
                <h1>Listado de artículos</h1>
                {% for articulo in pagination %}
                    <hr>

                    <div class="row">
                        <article >
                            <div class="col-sm-3 col-md-3">
                                <div class="img-wrap">
                                    {% if articulo.fotoportada == 1 %}
                                        <img src="{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}" alt="{{ articulo.titulo }}"> 
                                    {% else %}
                                        <img src="{{ asset( proyecto.nombre ~ '/hot/noticias/vacio.jpg') }}" alt="{{ articulo.titulo }}"> 
                                    {% endif %}     
                                </div>
                            </div>
                            <div class="col-sm-9 col-md-9">
                                <div class="caption">
                                    <h5><a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}">{{ articulo.titulo }}</a></h5>
                                    <span class="h6">{{ articulo.fecha |  date('d/m/Y') }}</span>
                                    <p>{{ articulo.copete }}</p>
                                    <a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}" class="btn-link btn-link-primary">ver artículo completo</a>
                                </div>
                            </div>
                        </article>
                    </div>                    

                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
    </section>    

{% endblock %}
