{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}
{% set mes = {"01":"enero", "02":"febrero", "03":"marzo", "04":"abril", "05":"mayo", "06":"junio", "07":"julio", "08":"agosto", "09":"septiembre", "10":"octubre", "11":"noviembre", "12":"diciembre"} %}
{% block bloque_contenido %} 


    <section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">
        <div class="container">
            <h1>Listado de artículos</h1>
            <h4 class="text-regular">Sección "{{seccion}}"</h4>            
            
            <div class="range">
                {% for articulo in pagination %}
                    <hr>
                    
                    <div class="row">
                        <article >
                            <div class="col-sm-3 col-md-3">
                                <div class="img-wrap">
                                    {% if articulo.fotoportada == 1 %}
                                        <img src="{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}" alt="{{ articulo.titulo }}"> 
                                    {% else %}
                                        <img src="{{ asset( proyecto.nombre ~ '/hot/noticias/vacio.jpg') }}" alt="{{ articulo.titulo }}"> 
                                    {% endif %}     
                                </div>
                            </div>
                            <div class="col-sm-9 col-md-9">
                                <div class="caption">
                                    <h5><a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}">{{ articulo.titulo }}</a></h5>
                                    <span class="h6">{{ articulo.fecha |  date('d/m/Y') }}</span>
                                    <p>{{ articulo.copete }}</p>
                                    <a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}" class="btn-link btn-link-primary">ver artículo completo</a>
                                </div>
                            </div>
                        </article>
                    </div>          
                {% endfor %}
                <div class="col-xs-12 text-left offset-top-40 offset-md-top-120">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </section>


{% endblock %}
