{% extends "APDSaquitoPaginasBundle:Templates:layout-interno.html.twig" %}
{% set mes = {"01":"enero", "02":"febrero", "03":"marzo", "04":"abril", "05":"mayo", "06":"junio", "07":"julio", "08":"agosto", "09":"septiembre", "10":"octubre", "11":"noviembre", "12":"diciembre"} %}

{% block bloque_titulo %}{{ articulo.titulo }}{% endblock %}
{% block bloque_description %}{{ articulo.copete }}{% endblock %}
{% block bloque_keyworks %} {% endblock %}
{% block bloque_robots %}  {% endblock %}
{% block bloque_author %}  {% endblock %}

{% block bloque_ogtitle %} {{ articulo.titulo }}{% endblock %}
{% block bloque_ogdescription %}{{ articulo.copete }}{% endblock %}
{% block bloque_ogimage %}
{% if articulo.fotoportada == 1 %}
{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}
{% else %}
{{ asset( proyecto.nombre ~ '/hot/noticias/vacio.jpg') }}
{% endif %}{% endblock %}
{% block bloque_ogsite_name %}{{proyecto.sitename}}{% endblock %}
{% block bloque_ogurl %} {% endblock %}

{% block bloque_contenido %}
    <section class="text-sm-left section-40 section-md-top-75 section-md-bottom-115">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="post-blog post-blog-mod-2">
                        <div class="post-title">
                            <h1>{{ articulo.titulo }}</h1>
                        </div>
                        <div class="post-meta-bottom" style="     padding-top: 1em;     ">
                            <time datetime="{{ articulo.fecha |  date('Y') }}">
                                <a class="text-base">{{ articulo.fecha |  date('d') }} de {{ mes[articulo.fecha |  date('m')] }} del {{ articulo.fecha |  date('Y') }}</a>
                            </time>

                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="post-meta-bottom" style="    padding-top: 0.4em;     ">
                                <i class="fa fa-eye fa-2x"></i> <a class="text-base"> visualizaciones: {{ articulo.visualizaciones }}</a>
                            </div>
                        {% endif %}
                        <div class="post-meta-bottom row offset-top-20 offset-sm-top-40">
                            <div class="col-xs-12 col-sm-4">
                                {% if articulo.fotoportada == 1 %}
                                    <img src="{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}" alt="{{ articulo.titulo }}" style="margin:2px;">
                                {% else %}
                                    <img src="{{ asset( proyecto.nombre ~ '/hot/noticias//vacio.jpg') }}" alt="{{ articulo.titulo }}" style="margin-top:4px;">
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <h5>{{ articulo.copete }} </h5>
                            </div>
                        </div>
                        <div class="post-body">
                            {{ articulo.cuerpo | raw }}
                        </div>
                        <div class="post-meta-bottom row offset-top-20 offset-sm-top-40">
                            <div class="col-xs-12 col-sm-6">
                                <ul class="meta-categories offset-top-5">
                                    {% for tema in articulo.secciones %}
                                        <li><a href="{{ path('saquito_noticias_listar_seccion', {'seccion':tema.slug}) }}">{{tema}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post-meta-bottom row offset-top-20 offset-sm-top-40">
                        <div class="col-sm-12">
                            <div class="fb-like"
                                data-href="{{ absolute_url('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}"
                                data-layout="standard"
                                data-action="like"
                                data-size="small"
                                data-show-faces="true"
                                data-share="true">
                            </div>
                            <div class="fb-comments"
                                data-href="{{ absolute_url('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}"
                                data-numposts="5"
                                data-width="100%">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
