/* CSS Document */

/*Configuracion de los select*/

select {

	color: red;
}


/* configuracion panel gris (Estos son los colapsables)*/

.panel-custom {
    border-color: #00ac7b;
    border-radius: 0px;
    background: #00ac7b;
}
.panel-custom > .panel-heading-custom { 
    background: #00ac7b;
    border-radius: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}


/* cambio de color de heading*/

.box {
  	-webkit-transition: background-color 400ms ease-out;
	-moz-transition: background-color 400ms ease-out;
	-o-transition: background-color 400ms ease-out;
	transition: background-color 400ms ease-out;
}

.box:hover {
  background-color: #383371;
  cursor: pointer;
}


label {
	color: #383371; 
}


a:link {   
	text-decoration:none;   
}


/* ----------------------------------------------------------------------------------------------------------- */
/* PEN STYLES      -- */
/* ----------------------------------------------------------------------------------------------------------- */

.left-navs {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.nav {
	width: 200px;
	margin-right: 35px;
	background-color: #00ac7b;
	list-style-type: none;
	padding-left: 0;
	border-radius: 3px; 
}

.nav li a { color: white; box-sizing: border-box; }
.nav li a:hover { color: #ffffff; }

/* NAV 1 */

.nav-1 li a { 
	display: block; 
	padding: 10px 20px;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}

.nav-1 li a:hover,
.nav-1 li a.current {
	background-color: #383371;
	border-left: 5px solid #ffffff;
}
