{% for album in albums %}
    <article class="col-sm-3">
        <a  href="{{ path('saquito_facebook_album_fotos', {'idAlbum':album.id}) }}" >
            <img class="img-thumbnail" src="{{album.portada}}" title="{{album.nombre}}" >
            <h5>{{album.nombre}} <br><small>({{album.cantidad}} fotos)</small></h5>
        </a> 
    </article>
{% else %}
    No hay albums en la página de facebook
{% endfor %}                
