{% extends "APDSaquitoPaginasBundle:Plantillas:principal.html.twig" %}

{% block bloque_contenido %}
    <h1>Galería de fotos </h1>
    <div class="container">
        <div class="row">
            {% for foto in fotos %}
                <a  href="{{foto.source}}" data-toggle="lightbox" data-gallery="multiimages" class="col-sm-3">
                    <img class="img-responsive" src="{{foto.source}}" title="{{foto.detalles}}" >
                    <h5>{{foto.detalles}} </h5>
                </a> 
            {% else %}
                No hay fotos en el album de facebook
            {% endfor %}                
        </div>
    </div>
{% endblock %}

{% block bloque_javascript %} 
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', 
                function(event) {
                    event.preventDefault();
                    return $(this).ekkoLightbox();
                });
        });
    </script>

{% endblock %}

