{% extends 'APDSaquitoMainBundle:Admin:standard_layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/apdsaquitomain/css/sonata_admin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {{ parent() }}
{% endblock %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px"><a href="http://www.apdiseño.com" rel="noreferrer" target="_blank">© AP Diseño</a></p>
{% endblock %}
