<!DOCTYPE html>
<html lang="es" class="wide wow-animation">
    <head>
        <title>{% block bloque_titulo %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no"/>

        <meta name="description" content="{% block bloque_description %}{% endblock %}">
        <meta name="keyworks" content="{% block bloque_keyworks %}{% endblock %}">
        <meta name="robots" content="{% block bloque_robots %}{% endblock %}">
        <meta name="author" content="{% block bloque_author %}{% endblock %}">

        {# Meta Tags para Facebook #}
        <meta name="og:title" content="{% block bloque_ogtitle %}{% endblock %}">
        <meta name="og:description" content="{% block bloque_ogdescription %}{% endblock %}">
        <meta name="og:image" content="{% block bloque_ogimage %}{% endblock %}">
        <meta name="og:site_name" content="{% block bloque_ogsite_name %}{% endblock %}">
        <meta name="og:url" content="{% block bloque_ogurl %}{% endblock %}">

        <link rel="icon" href="{{asset(proyecto.nombre ~ '/images/favicon.ico')}}" type="image/x-icon">
        
        <!--[if lt IE 9]>
        <html class="lt-ie9">
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
                <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                     alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
            </a>
        </div>
        <script src="{{asset(proyecto.nombre ~ '/js/html5shiv.js')}}"></script>
        <![endif]-->

        {% block bloque_stylesheet %} 
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
            <link href="{{asset(proyecto.nombre ~ '/css/style.css')}}" rel="stylesheet" type='text/css'>

        {% endblock %}        
    </head>
    <body>
        <div id="fb-root"></div>
        <div class="page">
            {% block bloque_body %} {% endblock %}
        </div>

        {% block bloque_javascript %}

            <script src="{{ asset(proyecto.nombre ~ '/js/core.min.js') }}" type="text/javascript" /></script> 
            <script src="{{ asset(proyecto.nombre ~ '/js/script.js') }}" type="text/javascript" /></script> 
 
            <script>
                
            <!-- Facebook Plugins: -->

            (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId={{proyecto.facebook.appid}}";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            
            <!-- Google Analytics:  -->
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','{{proyecto.google.analytics}}','auto');ga('send','pageview');
            </script>
        {% endblock %}    
    </body>
</html>