<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block bloque_titulo %}{% endblock %}</title>

        <meta name="description" content="{% block bloque_description %}{% endblock %}">
        <meta name="keyworks" content="{% block bloque_keyworks %}{% endblock %}">
        <meta name="robots" content="{% block bloque_robots %}{% endblock %}">
        <meta name="author" content="{% block bloque_author %}{% endblock %}">
        
        {# Meta Tags para Facebook #}
        <meta name="og:title" content="{% block bloque_ogtitle %}{% endblock %}">
        <meta name="og:description" content="{% block bloque_ogdescription %}{% endblock %}">
        <meta name="og:image" content="{% block bloque_ogimage %}{% endblock %}">
        <meta name="og:site_name" content="{% block bloque_ogsite_name %}{% endblock %}">
        <meta name="og:url" content="{% block bloque_ogurl %}{% endblock %}">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/x-icon" href="{{ asset( proyecto.nombre ~ '/images/favicon.ico') }}" />
        {% block bloque_stylesheet %} 
            <link href="{{asset(proyecto.nombre ~ '/initializr/css/bootstrap.min.css')}}" rel="stylesheet" type='text/css'>
            <link href="{{asset(proyecto.nombre ~ '/initializr/css/bootstrap-theme.min.css')}}" rel="stylesheet" type='text/css'>
            <link href="{{asset(proyecto.nombre ~ '/initializr/css/main.css')}}" rel="stylesheet" type='text/css'>
        {% endblock %}

    </head>
    <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">Estás usando un explorador <strong>desactualizado</strong>. Por favor <a href="http://browsehappy.com/"> actualizalo desde aquí</a> para mejorar tu experiencia web.</p>
    <![endif]-->

    {% block bloque_body %} {% endblock %}

    
    {% block bloque_javascript %}

        <script src="{{ asset(proyecto.nombre ~ '/initializr/js/vendor/jquery.min.js') }}" type="text/javascript" /></script> 
        <script src="{{ asset(proyecto.nombre ~ '/initializr/js/vendor/modernizr.min.js') }}" type="text/javascript" /></script> 
        <script src="{{ asset(proyecto.nombre ~ '/initializr/js/vendor/bootstrap.min.js') }}" type="text/javascript" /></script> 

        <script src="{{ asset(proyecto.nombre ~ '/initializr/js/main.js') }}" type="text/javascript" /></script> 
    {% endblock %}    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','{{proyecto.google.analytics}}','auto');ga('send','pageview');
    </script>

        
    </body>
</html>
