{% extends "APDSaquitoInitializrBundle::base.html.twig" %}

{% block bloque_titulo %}{{proyecto.titulo}}{% endblock %}
{% block bloque_description %}{{proyecto.descripcion}}{% endblock %}
{% block bloque_keyworks %}{% endblock %}
{% block bloque_robots %}Index, Follow{% endblock %} 
{% block bloque_author %}{{proyecto.autor}}{% endblock %}

{% block bloque_ogtitle %}{{proyecto.titulo}}{% endblock %}
{% block bloque_ogdescription %}{{proyecto.descripcion}}{% endblock %}
{% block bloque_ogimage %}{{ asset('bundles/apdsaquitomain/images/proyecto-isologo.png') }}{% endblock %}
{% block bloque_ogsite_name %}{{proyecto.sitename}}{% endblock %}
{% block bloque_ogurl %}{{ app.request.schemeAndHttpHost~app.request.requestUri }}{% endblock %}
{% block bloque_stylesheet %} 
    {{ parent() }}

{% endblock %}

{% block bloque_body %} 

{% endblock %}

{% block bloque_javascript %} 
    {{ parent() }}

{% endblock %}