{% extends "APDSaquitoInitializrBundle::base.html.twig" %}

{% block bloque_titulo %} {{pagina.titulo}} {% endblock %}
{% block bloque_description %} {{pagina.descripcion}} {% endblock %}
{% block bloque_keyworks %} {{pagina.keyworks}} {% endblock %}
{% block bloque_robots %} {{pagina.robots}} {% endblock %}
{% block bloque_author %} {{pagina.autor}} {% endblock %}

{% block bloque_ogtitle %} {{pagina.titulo}} {% endblock %}
{% block bloque_ogdescription %} {{pagina.descripcion}} {% endblock %}
{% block bloque_ogimage %} {% endblock %}
{% block bloque_ogsite_name %} {% endblock %}
{% block bloque_ogurl %} {% endblock %}

{% block bloque_stylesheet %} 
    {{ parent() }}

{% endblock %}

{% block bloque_contenido %} 

    {% for bloque in pagina.bloques %}
        {% if bloque.nombre == "bloque_contenido" %}
            {{ bloque.html | raw }}
        {% endif %}
    {% endfor %}

{% endblock %}

{% block bloque_javascript %} 
    {{ parent() }}

{% endblock %}