{% extends "APDSaquitoMainBundle:Templates:layout.html.twig" %}
{% block bloque_contenido %} 
    <div class="container">
        <div class="row">
            <h4>Listado de páginas dinámicas:</h4><br>
            {% for pagina in pagination %}
                <h6>
                    <a href="{{ path('saquito_paginas_ver', {'id': pagina.id,'slug': pagina.slug}) }}">
                        Título: {{ pagina.titulo }}
                    </a>
                </h6>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

