{% extends "APDSaquitoPaginasBundle:Plantillas:principal.html.twig" %}
    {% block bloque_contenido %}
    <div class="container">
            {% for articulo in pagination %}
                <hr>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        {% if articulo.fotoportada == 1 %}
                            <img class="img-responsive" src="{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}" alt=""> 
                        {% else %}
                            <img class="img-responsive" src="{{ asset( proyecto.nombre ~ '/images/vacio.jpg') }}" alt="">  
                        {% endif %} 
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <h2><b> {{ articulo.fecha|date('d/m') }} </b> | {{ articulo.titulo }}</h2>
                            <p><small style="color: gray">
                            | {{ articulo.fecha |  date('d/m/Y H:i') }} <br>
                            </small></p>
                            <p>{{ articulo.copete }}</p>
                            <p>
                              <div class="btn-group" role="group" aria-label="...">
                                <a href="#" class="btn btn-default" role="button">Compartir</a> 
                                <a href="{{ path('saquito_noticias_ver', {'id':articulo.id,'slug': articulo.slug}) }}" class="btn btn-primary" role="button">Ver nota completa</a> 
                              </div>
                            </p>
                    </div>

                </div>                    
                    
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}