{% extends "APDSaquitoPaginasBundle:Plantillas:principal.html.twig" %}

{% block bloque_ogimage %}
{% if articulo.fotoportada == 1 %}
{{ asset('bigorniaclub/hot/noticias/' ~ articulo.id  ~ '.jpg') }}
{% else %}
{{ asset('Saquito/images/apd-isologo.jpg') }}
{% endif %}{% endblock %}


{% block bloque_contenido %}
    {% set mes = {"01":"Ene", "02":"Feb", "03":"Mar", "04":"Abr", "05":"May", "06":"Jun", "07":"Jul", "08":"Ago", "09":"Sep", "10":"Oct", "11":"Nov", "12":"Dic"} %}
    <div class="container">
        <article class="row">
            <h3 >
                {{ articulo.titulo }}
            </h3>
            <div class="col-lg-4 col-md-4 col-sm-12">
        {% if articulo.fotoportada == 1 %}
            <img class="img-responsive" src="{{ asset( proyecto.nombre ~ '/hot/noticias/' ~ articulo.id  ~ '.jpg') }}" alt="">
        {% else %}
            <img class="img-responsive" src="{{ asset( proyecto.nombre ~ '/images/vacio.jpg') }}" alt="">
        {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h6>{{ articulo.fecha|date('d/m/Y') }}</h6>
                {% if is_granted('ROLE_USER') %}
                    <h6>visualizaciones: {{ articulo.visualizaciones }}</h6>
                {% endif %}
                <h4>{{ articulo.copete }} </h4>
            </div>
        </article>

        <article class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <br>
                {{ articulo.cuerpo | raw }}

                <br>
                <hr>
                <small style="color: gray">
                    <b> {{proyecto.titulo}} </b>| Rawson Chubut, {{ articulo.fecha |  date('d/m/Y') }} <br>
                </small>
                <hr>
            </div>
        </article>
    </div>

{% endblock %}
